//ancho menu
NAV_WIDTH=200px
//height header
HEIGHT_HEADER=3rem
//column-rule 
COLOR_THEME=#009BDE
COLOR_WHITE=#ffffff
/********  COLOR SERVICES ***************/
COLOR_SERVICE_PW=#334960
COLOR_SERVICE_CO=#32900E
COLOR_SERVICE_EM=#8F3FB0
COLOR_SERVICE_AM=#982438
COLOR_SERVICE_CT=#C33825
COLOR_SERVICE_DW=#D65400
/*********** BACKGROUND******************
COLOR_SERVICE_PW=#334960
COLOR_SERVICE_CO=#1AAF5D
COLOR_SERVICE_EM=#8F3FB0
COLOR_SERVICE_AM=#D65400
COLOR_SERVICE_CT=#C33825
COLOR_SERVICE_DW=#F3C500*/

COLOR_US=#005588
COLOR_TEAM=#0B2DE5
COLOR_COURCES=#B9B906
COLOR_DARK=#424242
COLOR_BRIEFCASE=#982438
COLOR_CONTACT=#00AB38
COLOR_UBICATION=#E0A421

BCK_THEME=#318BE8

//TAMAÑO DEL LOGO
LEN_LOGO=50px

SPACE=1rem