//ancho menu
NAV_WIDTH=220px
//ancho USER SECTION
NAV_WIDTH_USER=220px
//height header
HEIGHT_HEADER=3rem
//fLAT DESIGN COLOR
COLOR_THEME=#009BDE
COLOR_WHITE=#ffffff
COLOR_GREEN=#32AC97

/********  COLOR SERVICES ***************/
COLOR_SERVICE_PW=#334960
COLOR_SERVICE_CO=#32900E
COLOR_SERVICE_EM=#8F3FB0
COLOR_SERVICE_AM=#982438
COLOR_SERVICE_CT=#C33825
COLOR_SERVICE_DW=#D65400
/*********** BACKGROUND******************
COLOR_SERVICE_PW=#334960
COLOR_SERVICE_CO=#1AAF5D
COLOR_SERVICE_EM=#8F3FB0
COLOR_SERVICE_AM=#D65400
COLOR_SERVICE_CT=#C33825
COLOR_SERVICE_DW=#F3C500*/

COLOR_US       =#AE7AC4
COLOR_BRIEFCASE=#D03D43
COLOR_UBICATION=#2DCC70
COLOR_COURCES  =#2FC1B4
COLOR_BLOG     =#E67F22
COLOR_CONTACT  =#99CD00

/*******SOCIAL NETWORKS****/
COLOR_FACEBOOK =#45619D
COLOR_TWITTER  =#2299CC
COLOR_LINKEDIN =#1582BB
COLOR_GITHUB   =#333333

COLOR_TEAM=#0B2DE5

COLOR_DARK=#2C2C2C






//TAMAÑO DEL LOGO
LEN_LOGO=50px

SPACE=1rem