form 
	width 95%
	margin 0 auto
	& fieldset
		border none
		margin 0
		& label 
			display none
			width 25%
			float left
			text-align right
			padding-right (SPACE/2)
			margin-top (SPACE/2)
		& input, textarea
			display block
			width 100%
			margin-bottom (SPACE/2)
			border-radius SPACE
			padding (SPACE/4)
			border .2rem solid rgba(0, 0, 0, .4)
			&::-webkit-input-placeholder 
				color: black
				text-align center
			&:-moz-placeholder  /* Firefox 18- */
				color: black
				text-align center  
			&::-moz-placeholder   /* Firefox 19+ */
				color: black
				text-align center  
			&:-ms-input-placeholder   
				color: black
				text-align center  
			
		& textarea
			height SPACE*5

		& button
			padding (SPACE/4) SPACE
			display block
			border-radius SPACE
			block-center()
			background-color COLOR_THEME
			color white
			border none