[role="menu"]
	z-index:2
	position : fixed
	height : 100%
	width: NAV_WIDTH
	left:-(NAV_WIDTH)
	background-color: COLOR_WHITE
	transition(left 0.4s ease-in-out)
	overflow-y:scroll
	& > a
		color: darken(COLOR_THEME,90%)
		display: block
		padding:  (SPACE/2)
		text-decoration : none
		border-bottom: 1px solid lighten(COLOR_THEME,30%)
		/*&:first-child
			line-height 0.4rem
			padding .2rem
			text-align center
			background-color: COLOR_THEME
			padding-bottom .2rem

			& img
				width 2.5rem
				display inline-block
			& span
				display  inline-block
				font-size  1.3rem
				padding-top  1rem
				vertical-align  top
			& small
				display block
				margin-bottom .4rem*/

[role="slider"]
	margin 0
	background-color #009BDE
	padding-bottom .5rem 
	text-align center
	color white
	& figure 
		margin 0
		& img
			width 30%
			display block 
			margin 0 auto 
			background-color white
			border-radius 50%
			
[role="services"]
	//background-color COLOR_THEME
	background-color: #009BDE
	padding .5rem 0 1rem 0

[role="ico-menu"]
	position: absolute
	//margin-left: 12px
	//top 40px
	left: 0
	//background-color:darken(COLOR_THEME,40%)
	padding: .3rem .4rem
	width:HEIGHT_HEADER
	height HEIGHT_HEADER
	//border-radius(3px)
// Logo en canvas
[role="logo"]
	position: absolute
	//margin-right: 12px
	right: 0
	//padding: .3rem .4rem
	width:HEIGHT_HEADER
	height HEIGHT_HEADER
	//border-radius 50%
	//background-color:darken(COLOR_THEME,40%)
	z-index 2

[role="aside"]
	position fixed
	background-color white
	bottom 0
	z-index 2
	width 100%
	>div >span
		display block
		width (100/3)%
		float left
		text-align center
		padding 1rem
	>a 
		background-color white
		color COLOR_THEME
		position absolute
		top -2rem
		text-align center
		width 2rem
		height 2rem
		border-radius 1rem 1rem 0 0
		right SPACE

.open-menu
	left:0px
.move-blocks
	left:NAV_WIDTH

.overflow-x
	overflow-x hidden