[role="user"]
	z-index:2
	position : fixed
	height : 100%
	width: NAV_WIDTH_USER
	right:-(NAV_WIDTH_USER)
	background-color: COLOR_DARK
	transition(right 0.4s ease-in-out)
	overflow-y:scroll
[role="menu"]
	z-index:2
	position : fixed
	height : 100%
	width: NAV_WIDTH
	left:-(NAV_WIDTH)
	background-color: COLOR_DARK
	transition(left 0.4s ease-in-out)
	overflow-y:scroll
	& a
		color: COLOR_WHITE
		display: block
		padding:  (SPACE/2)
		text-decoration : none
		& span
			&:nth-of-type(1)
				display inline-block
				width 30%
				text-align center 
			
		&:not(span)
			vertical-align top
		&:first-child
			line-height 0.2rem
			text-align center
			padding-bottom .2rem
			& img
				display block
				width 40%
				background-color COLOR_WHITE
				border-radius 50%
				border .4rem solid rgba(0, 0, 0, .75)
				box-shadow 0 0 0.2rem 0.1rem rgba(255,255,255,.5)
			& span
				display  inline-block
				font-size  1.3rem
				padding 1rem 0
				vertical-align  top
				color COLOR_WHITE
		&:nth-child(2) 
			border-bottom: .1rem solid COLOR_THEME
			& span
				color COLOR_THEME
		&:nth-child(3) 
			border-bottom: .1rem solid COLOR_US
			& span
				color COLOR_US
		&:nth-child(4) 
			border-bottom: .1rem solid COLOR_BRIEFCASE
			& span
				color COLOR_BRIEFCASE
		&:nth-child(5) 
			border-bottom: .1rem solid COLOR_UBICATION
			& span
				color : COLOR_UBICATION
		&:nth-child(6) 
			border-bottom: .1rem solid COLOR_COURCES 
			& span
				color COLOR_COURCES 
		&:nth-child(7) 
			border-bottom: .1rem solid COLOR_BLOG
			& span
				color COLOR_BLOG
		&:nth-child(8) 
			border-bottom: .1rem solid COLOR_CONTACT
			& span
				color : COLOR_CONTACT
		&:nth-child(9) 
			border-bottom: .1rem solid COLOR_CONTACT
			& span
				color : COLOR_CONTACT
				

[role="slider"]
	margin 0
	background: url('../images/portada-mobile-yetsu.jpg') no-repeat center center
	text-align center
	color white
	padding-top SPACE

[role="logo"]
	width 30%
	display block 
	margin 0 auto 
	background-color white
	border-radius 50%
	border .2rem solid lighten(COLOR_DARK,30)
	& img 
		width 100%
			
[role="services"]
	background-color: COLOR_WHITE
	padding .1rem 0
	overflow hidden
	& a
		float left
		color COLOR_BLUE
		text-align center
		width (100/3)%
		padding .1rem
		font-size 1rem
		& span
			display block
			font-size 2rem
			background-color COLOR_WHITE
			border-radius 50%
			width 4rem
			height 4rem
			line-height 3.5rem
			margin 0 auto
			color COLOR_HTML5

		
[role="ico-menu"],[role="ico-user"]
	z-index: 2
	position: absolute
	top SPACE
	& span
		font-size: 2rem
		
[role="ico-menu"]
	left 0
	margin-left SPACE
[role="ico-user"]
	right 0
	margin-right SPACE

[role="aside"]
	position fixed
	background-color white
	bottom 0
	z-index 2
	width 100%
	transition(all 0.4s ease-in-out)
	>div >figure
		display block
		width 25%
		/*margin-left (10/3)%
		margin-top (10/3)%
		margin-bottom (10/3)%*/
		height 4rem
		float left
		text-align center
		padding 1rem
		& span
			color COLOR_WHITE
			background-color COLOR_THEME
			border-radius 1rem
			font-size 2rem
			padding .5rem 
	>span
		display block 
		background-color white
		color COLOR_THEME
		position absolute
		top -2rem
		text-align center
		width 2rem
		height 2rem
		border-radius 1rem 1rem 0 0
		right SPACE
		cursor pointer

/************ Efects lateral menus *********/
.open-menu
	left:0
.move-blocks
	left:NAV_WIDTH

.open-user
	right:0px
.move-blocks-user
	right:NAV_WIDTH_USER

.showSocial
	bottom 0  !important
.overflow-x
	overflow-x hidden