header,section,aside,footer,article,nav,figure,figcaption,blockquote,ul 
	display:block
	margin 0
	padding 0
html,body
	margin :0
	//height:100%
*
	box-sizing border-box 
	&:before,:after
		box-sizing border-box 
a
	text-decoration:none
	color COLOR_THEME
	&:hover,:active,:focus
		outline none

h1
	display:inline-block
	font-weight 700
h2
	font-weight 400
p,blockquote,address,time
	font-weight 300
	margin 0
h3,h2,h1
	margin 0

ul,ol,.ul,.ol
	font-size 0 