html 
	font-size:75%

h1
	margin : 0
	font-size: 50px /*IE*/
	font-size:1.4rem 
h2
	font-size:1rem
h3
	font-size:.8rem

//******************** MEDIA QUERIES *******************************/
/*@media only screen and (min-width: 320px) 
	html 
		font-size: 81.25%  13px */
@media only screen and (min-width: 480px) 
	html 
		font-size: 87.5%  /* 14px */
	.us
		&>img, blockquote
			float right
		&>img
			width 15%
		& blockquote
			margin-left 1%
			width 84%
@media only screen and (min-width: 768px) 
	html 
		font-size: 92%   
	.row
		margin 0 auto
		width 100%
		text-align center
		.item
			width (100/6)%
			float left
			>figure,>div
				float none
				block-center(.2rem,0)
			>figure
				color white
				padding .5rem
				border-radius 50%
				width 3rem
				height 3rem
				//width: 20%
			>div
				//width: 80%

		
@media only screen and (min-width: 960px) 
	html 
		font-size: 100%
	.row
		margin 0 auto
		width 960px
		& .yetMenber
			width 24%
			margin-left 1%
			margin-top 1%
			&:first-child 
				margin-left .5%
			&:last-child 
				margin-left .5%


	[role="ico-menu"]
		z-index -1
	
	[role="ico-user"]
		z-index -1
	
	[role="slider"]
		background-image url('../images/portada.jpg')
		min-height 400px
		& figure 
			padding-top 7rem
			& img
				width 12%

	header
		position absolute
		width 100%
		height 8rem
		overflow: visible
		& div
			& h1
				padding 0 .5rem 
				position relative
				z-index 3
				left 0
				font-size 2rem
				background-color COLOR_THEME
				border-radius 0 0 1rem 1rem 
	[role="user"]
		display none	
		z-index:2
		position : relative
		height : 100%
		width: NAV_WIDTH_USER
		background-color: COLOR_THEME
		overflow-y:scroll
		right 0
	[role="aside"]
		position relative
		background-color #54D2F8
		bottom 0 !important
		>div >figure
			width 4%
			& span 
				font-size 1rem
		>span
			display none
	[role="menu"]
		left: 0
		width: 100%
		height 0 
		position: absolute
		overflow: visible
		top 4rem
		margin 0 
		&  a
			display: inline-block
			text-align center 
			padding .3rem 0
			color COLOR_WHITE
			width (100/7)%
			border-bottom: .3rem solid rgba(0,0,0,.5) !important
			&:hover
				border-bottom: 0 solid COLOR_THEME !important
			& span
				display none
				width 100%
				text-align center 
			&:first-child
				display none
			&:nth-child(2) 
				border-radius 1rem 0 0 1rem

				border-bottom: .3rem solid COLOR_THEME
				background-color COLOR_THEME
				& span
					color COLOR_WHITE
			&:nth-child(3) 
				border-bottom: .3rem solid COLOR_US
				background-color COLOR_US
				& span
					color COLOR_WHITE
			&:nth-child(4) 
				border-bottom: .3rem solid COLOR_BRIEFCASE
				background-color COLOR_BRIEFCASE
				& span
					color COLOR_WHITE
			&:nth-child(5) 
				border-bottom: .3rem solid COLOR_UBICATION
				background-color : COLOR_UBICATION
				& span
					color COLOR_WHITE
			&:nth-child(6) 
				border-bottom: .3rem solid COLOR_COURCES 
				background-color COLOR_COURCES 
				& span
					color COLOR_WHITE
			&:nth-child(7) 
				border-bottom: .3rem solid COLOR_BLOG
				background-color COLOR_BLOG
				& span
					color COLOR_WHITE
			&:nth-child(8) 
				border-radius 0 1rem 1rem 0

				border-bottom: .3rem solid COLOR_CONTACT
				background-color : COLOR_CONTACT
				& span
					color COLOR_WHITE
			&:nth-child(9) 
				border-bottom: .3rem solid COLOR_CONTACT
				background-color : COLOR_CONTACT
				& span
					color COLOR_WHITE

	[role="services"]
		background-color #319028

	

@media only screen and (min-width: 1200px) 
	.row
		width 1200px
		
	