html 
	font-size:75%
h1
	margin : 0
	*font-size: 16px
	font-size:1.5rem 
h2
	font-size:1.25rem
h3
	font-size:1rem
h4
	font-size:.8rem

//******************** MEDIA QUERIES *******************************/
@media only screen and (min-width: 320px) 
	html 
		font-size: 81.25% /* 13px */
	[role="slider"]
		background: url('../images/portada-tablet-yetsu.jpg') no-repeat center center
	/******* YetMenbers *********/

@media only screen and (min-width: 480px) 
	html 
		font-size: 87.5%  /* 14px */
	/******* YetMenbers *********/
	.yetMenber
		width 30%
		margin-left (10/4)%
		margin-top (10/4)%
		&:first-child
			margin-left (10/4)%
	.us
		&>img, blockquote
			float right
		&>img
			width 15%
		& blockquote
			margin-left 1%
			width 84%
	
	[role="slider"]
		background: url('../images/portada-laptop-yetsu.jpg') no-repeat center center
@media only screen and (min-width: 768px) 
	html 
		font-size: 92%   
	[role="slider"]
		background: url('../images/portada-pc-yetsu.jpg') no-repeat center center
	/******* YetMenbers *********/
	.yetMenber
		width 22.5%
		margin-left (10/5)%
		margin-top (10/5)%
		&:first-child
			margin-left (10/5)%
	

	/******Yetservices******/
	[role="services"]
		& a
			width (100/6)%
	.row
		margin 0 auto
		width 100%
		text-align center
		.item
			width (100/6)%
			float left
			>figure,>div
				float none
				block-center(.2rem,0)
			>figure
				color white
				padding .5rem
				border-radius 50%
				width 3rem
				height 3rem
				//width: 20%
			>div
				//width: 80%

		
@media only screen and (min-width: 960px) 
	html 
		font-size: 100%
	/******* YetMenbers *********/
	.yetMenber
		width (90/5)%
		margin-left (10/6)%
		margin-top (10/6)%
		&:first-child
			margin-left (10/6)%
	
	
	[role="ico-menu"]
		z-index -1
	
	[role="ico-user"]
		z-index -1
	
	[role="slider"]
		background-image url('../images/portada.jpg')
		min-height 400px
		& figure 
			padding-top 7rem
			& img
				width 12%

	header
		position absolute
		width 100%
		height 8rem
		overflow: visible
		& div
			& h1
				padding 0 .5rem 
				position relative
				z-index 3
				left 0
				font-size 2rem
				background-color COLOR_THEME
				border-radius 0 0 1rem 1rem 
	[role="user"]
		display none	
		z-index:2
		position : relative
		height : 100%
		width: NAV_WIDTH_USER
		background-color: COLOR_THEME
		overflow-y:scroll
		right 0
	[role="aside"]
		position relative
		background-color #54D2F8
		bottom 0 !important
		>div >figure
			width 4%
			&:first-child
				margin-left 7rem
			
			& span 
				font-size 1rem
		>span
			display none

	.csstransforms3d [role="menu"] a span:before
		position: absolute
		top: 100%
		left: 0
		width: 100%
		height: 100%
		background-color rgba(0, 0, 0, .5)
		content: attr(data-hover)
		transition: background 0.2s ease
		transform: rotateX(-90deg)
		transform-origin: 50% 0
		padding-top 0.18rem
	.csstransforms3d [role="menu"] a:nth-child(2):hover span:before,
	.csstransforms3d [role="menu"] a:nth-child(2):focus span:before 
		background: darken(COLOR_THEME,20%)
		color COLOR_WHITE
		border-radius 1rem 0 0 1rem
	.csstransforms3d [role="menu"] a:nth-child(3):hover span:before,
	.csstransforms3d [role="menu"] a:nth-child(3):focus span:before 
		background: darken(COLOR_US,20%)
		color COLOR_WHITE
	.csstransforms3d [role="menu"] a:nth-child(4):hover span:before,
	.csstransforms3d [role="menu"] a:nth-child(4):focus span:before 
		background: darken(COLOR_BRIEFCASE,20%)
		color COLOR_WHITE
	.csstransforms3d [role="menu"] a:nth-child(5):hover span:before,
	.csstransforms3d [role="menu"] a:nth-child(5):focus span:before 
		background: darken(COLOR_UBICATION,20%)
		color COLOR_WHITE
	.csstransforms3d [role="menu"] a:nth-child(6):hover span:before,
	.csstransforms3d [role="menu"] a:nth-child(6):focus span:before 
		background: darken(COLOR_COURCES,20%)
		color COLOR_WHITE
	.csstransforms3d [role="menu"] a:nth-child(7):hover span:before,
	.csstransforms3d [role="menu"] a:nth-child(7):focus span:before 
		background: darken(COLOR_BLOG,20%)
		color COLOR_WHITE
	.csstransforms3d [role="menu"] a:nth-child(8):hover span:before,
	.csstransforms3d [role="menu"] a:nth-child(8):focus span:before 
		background: darken(COLOR_CONTACT,20%)
		color COLOR_WHITE
		border-radius 0 1rem 1rem 0
	

	[role="menu"]
		left: 0
		width: 100%
		height 0 
		position: absolute
		overflow: visible
		top 4rem
		margin 0 
		&  a
			/*********** efect **/
			perspective 50rem
			/********************/
			display: inline-block
			text-align center 
			padding 0
			color COLOR_WHITE
			*width 11%
			width 7rem
			/*border-bottom: .3rem solid rgba(0,0,0,.5) !important*/
			position relative
			transition top .2s ease-in-out
			&:hover span, :focus span 
				transform: rotateX(90deg) translateY(-22px)
			&:active
				top .2rem
				/*border-bottom: 0 solid COLOR_THEME !important*/
			& span
				&:nth-of-type(1)
					display none
					width 100%
					text-align center 
				&:nth-of-type(2)
					display block
					transition transform .4s
					transform-origin 50% 0
					transform-style preserve-3d
					padding .18rem 0

			&:first-child
				display none
			&:nth-child(2) 
				border-radius 1rem 0 0 1rem

				/*border-bottom: .3rem solid COLOR_THEME*/
				background-color COLOR_THEME
				& span
					color COLOR_WHITE
			&:nth-child(3) 
				/*border-bottom: .3rem solid COLOR_US*/
				background-color COLOR_US
				& span
					color COLOR_WHITE
			&:nth-child(4) 
				/*border-bottom: .3rem solid COLOR_BRIEFCASE*/
				background-color COLOR_BRIEFCASE
				& span
					color COLOR_WHITE
			&:nth-child(5) 
				/*border-bottom: .3rem solid COLOR_UBICATION*/
				background-color : COLOR_UBICATION
				& span
					color COLOR_WHITE
			&:nth-child(6) 
				/*border-bottom: .3rem solid COLOR_COURCES */
				background-color COLOR_COURCES 
				& span
					color COLOR_WHITE
			&:nth-child(7) 
				/*border-bottom: .3rem solid COLOR_BLOG*/
				background-color COLOR_BLOG
				& span
					color COLOR_WHITE
			&:nth-child(8) 
				border-radius 0 1rem 1rem 0

				/*border-bottom: .3rem solid COLOR_CONTACT*/
				background-color : COLOR_CONTACT
				& span
					color COLOR_WHITE
			&:nth-child(9) 
				/*border-bottom: .3rem solid COLOR_CONTACT*/
				background-color : COLOR_CONTACT
				& span
					color COLOR_WHITE

	[role="services"]
		background-color #319028
	
	.open-menu
		left:none !important
	.move-blocks
		left:none !important
	.overflow-x
		overflow-x visible !important

@media only screen and (min-width: 1200px) 
	html 
		font-size: 112.5%

	/******* YetMenbers *********/
	.yetMenber
		width (90/6)%
		margin-left (10/7)%
		margin-top (10/7)%
		&:first-child
			margin-left (10/7)%

	/*.yetMenber
		width (90/7)%
		margin-left (10/8)%
		margin-top (10/8)%
		&:first-child
			margin-left (10/8)%*/
			
	.row
		width 1200px
		
	