.bck
	&.header
		background-color:COLOR_THEME
	&.theme
		background-color:COLOR_THEME

	/*Flat Design */
	&.orange
		background-color:#C83C23
	&.green
		background-color:COLOR_GREEN

	/*section*/
	&.PW
		background-color:COLOR_SERVICE_PW
	&.CO
		background-color:COLOR_SERVICE_CO
	&.EM
		background-color:COLOR_SERVICE_EM
	&.AM
		background-color:COLOR_SERVICE_AM
	&.CT
		background-color:COLOR_SERVICE_CT
	&.DW
		background-color:COLOR_SERVICE_DW
	
	/*section*/

	&.us
		background-color:COLOR_US
	&.white
		background-color:white
	&.team
		background-color:COLOR_TEAM
	&.cources
		background-color: COLOR_SERVICE_CO
	&.briefcase
		background-color:COLOR_BRIEFCASE
	&.contact
		background-color:COLOR_CONTACT
	&.ubication
		background-color:COLOR_UBICATION
