*
	transition(all 0.4s ease-in-out)
body
	//overflow: hidden
	font-family: 'Nunito', sans-serif
header,section,footer,aside
	position: relative
	//overflow hidden
	//background-color #005588
	left: 0
	transition(left 0.4s ease-in-out)
footer
	text-align center
	color white
	h2,h3
		margin 0
.service
	padding-bottom 0.2rem
	& h2
		text-align center
		padding (SPACE/2) 0
		margin 0
		& span
			border-radius 50%
			padding: 0.2rem 0
			position: absolute
			font-size 2.7rem
			top: -0.9rem
			background-color COLOR_WHITE
			display block !important
			width 4rem !important
			height 4rem !important
	&.PW
		& h2 
			background: COLOR_SERVICE_PW
			color lighten(COLOR_SERVICE_PW,90%)
			& span
				border .4rem solid COLOR_SERVICE_PW
				color COLOR_SERVICE_PW
				right: SPACE
	&.CO
		& h2 
			background: COLOR_SERVICE_CO
			color lighten(COLOR_SERVICE_CO,90%)
			& span
				border .4rem solid COLOR_SERVICE_CO
				color COLOR_SERVICE_CO
				left: SPACE
	&.EM
		& h2 
			background: COLOR_SERVICE_EM
			color lighten(COLOR_SERVICE_EM,90%)
			& span
				border .4rem solid COLOR_SERVICE_EM
				font-size 2.2rem
				padding .5rem 0
				color COLOR_SERVICE_EM
				right: SPACE
	&.AM
		& h2 
			background: COLOR_SERVICE_AM
			color lighten(COLOR_SERVICE_AM,90%)
			& span
				border .4rem solid COLOR_SERVICE_AM
				color COLOR_SERVICE_AM
				left: SPACE
	&.CT
		& h2 
			background: COLOR_SERVICE_CT
			color lighten(COLOR_SERVICE_CT,90%)
			& span
				border .4rem solid COLOR_SERVICE_CT
				color COLOR_SERVICE_CT
				right: SPACE
	&.DW
		& h2 
			background: COLOR_SERVICE_DW
			color lighten(COLOR_SERVICE_DW,90%)
			& span
				border .4rem solid COLOR_SERVICE_DW
				color COLOR_SERVICE_DW
				font-size 2.2rem
				padding .5rem 0
				left: SPACE


header
	height HEIGHT_HEADER
	background-color #009BDE
	& *
		color: #F2F2F2 
	h1
		line-height 3rem

.cources
	>div
		background-color:#E3BC4D
		overflow hidden
		width 95%
		margin .2rem auto
		border-radius .4rem
		& h3
			margin 0
			display block
			text-align center
			background-color  lighten(#E3BC4D,30%) 
			padding .2rem 0
			border-radius .4rem
		& img
			margin-top .2rem
			margin-bottom .2rem
			width 17%
			margin-left 3%
			float left
			border-radius .2rem
			&:nth-child(2)
				margin-left 1.5%
		&>a
			padding :2rem
			border-radius .5rem
			background-color COLOR_THEME
.row
	& .item
		text-align center
		float left
		width (100/3)%
		padding 0.2rem 
		& a
			display block

			>figure,>div
				min-height 1.2rem
			>figure
				background-color COLOR_WHITE
				margin .2rem auto
				padding-top .1rem
				width 4rem 
				height 4rem
				border-radius 50%
				font-size 2.7rem
				
			>div
				color COLOR_WHITE
		& section
			z-index -1
		&:nth-child(1)
			& a
				>figure
					color:COLOR_SERVICE_PW
					border 0.2rem solid COLOR_SERVICE_PW
		&:nth-child(2)
			& a
				>figure
					color:COLOR_SERVICE_CO
					border 0.2rem solid COLOR_SERVICE_CO
		&:nth-child(3)
			& a
				>figure
					color:COLOR_SERVICE_EM
					border 0.2rem solid COLOR_SERVICE_EM
		&:nth-child(4)
			& a
				>figure
					color:COLOR_SERVICE_AM
					border 0.2rem solid COLOR_SERVICE_AM
			
		&:nth-child(5)
			& a
				>figure
					color:COLOR_SERVICE_CT
					border 0.2rem solid COLOR_SERVICE_CT
		&:nth-child(6)
			& a
				>figure
					color:COLOR_SERVICE_DW
					border 0.2rem solid COLOR_SERVICE_DW  

	/*for item in 1 2 3
		.item:nth-child({item})
			>figure,>div
				float left
				min-height 50px
			>figure
				color white
				width: 20%
				background-color:bck*item
			>div
				width: 80%
				background-color:bck*2*item*/


footer
	background-color: COLOR_DARK
	padding: 10px 0

.row
	& blockquote
		width 90%
		margin .5rem auto 0 auto
		background-color #334960
		padding .5rem
		border-radius .8rem
		border 2px solid #2E2D38
		text-align center
		color COLOR_WHITE
		&:before
		&:after
			font-family "FontAwesome"
			font-size 1rem
			color COLOR_THEME
		&:before
			content: "\f10d"
		&:after
			content: "\f10e"

	& img
		display block
		margin 0 auto

	& img.logo-circle
		width 50%;
		border-radius 50%
		background-color COLOR_WHITE
		border (SPACE/4) solid COLOR_DARK
	& .yetMenber
		float:left
		position: relative
		text-align center
		&>img 
			border .2rem solid COLOR_WHITE
		& a,span
			display block
			color white

		&:nth-of-type(1),&:nth-of-type(2),&:nth-of-type(3),&:nth-of-type(4),&:nth-of-type(5),&:nth-of-type(6),&:nth-of-type(7),&:nth-of-type(8)
			//top -100px
			width (100/4)%
			& img
				width:70%
				border-radius 50%
		&:nth-of-type(1),&:nth-of-type(4)
			top 5rem
		&:nth-of-type(5),&:nth-of-type(8)
			top -5rem
		&:nth-of-type(1),&:nth-of-type(5)
			right -1rem
		&:nth-of-type(4),&:nth-of-type(8)
			left -1rem

			
.briefcase
	& .row
		& figure
			& h3
				text-align center
			& img
				width 100%;
.contact
	& form 
		width 95%
		margin SPACE auto
		& fieldset
			border none
			margin 0
			& label 
				display block
				width 25%
				float left
				text-align right
				padding-right (SPACE/2)
				margin-top (SPACE/2)
			& input, textarea
				display block
				width 75%
				margin-bottom (SPACE/2)
				border-radius SPACE
				padding (SPACE/4)
				border none
			& textarea
				height SPACE*5

			& button
				padding (SPACE/4) SPACE
				display block
				border-radius SPACE
				block-center()
				background-color rgba(0, 0, 0, .5)
				color white
				border none
.ubication	
	&>div
		& div#yetLocal
			width:95%
			height: 13rem
			block-center()
			border-radius SPACE
			border .5rem solid #705210
		& address
			text-align center

.hidden-content
	z-index -1
	position absolute
.show-content
	z-index 1 !important
	position relative !important
.tansition-down
	transition all 0.4s ease-in-out 		