*
	transition(all 0.4s ease-in-out)
body
	//overflow: hidden
	font-family: 'Nunito', sans-serif
header,section,footer,aside
	position: relative
	left: auto
	transition(all 0.4s ease-in-out)
footer
	text-align center
	color white
	h2,h3
		margin 0
.service, .briefcase, .ubication, .us, .contact
	color COLOR_WHITE
	padding-bottom  0.3rem
	& h2
		text-align center
		padding (SPACE/2) 0 0 0
		margin 0
	& > span
		border-radius 50%
		padding: 0.3rem 0
		position: relative
		font-size 2.7rem
		text-align center
		background-color COLOR_WHITE
		display block 
		margin 0 auto
		width 4rem 
		height 4rem
		z-index 2
.service
	.features
		text-align center
		position: relative
		top -3rem
		width 100%
		& span
			color rgba(255, 255, 255, .4)
			font-size 2rem
			width 10%
			&:nth-child(1),&:nth-child(2),&:nth-child(3),&:nth-child(4),&:nth-child(5)
				float: left
			&:nth-child(6),&:nth-child(7),&:nth-child(8),&:nth-child(9),&:nth-child(10)
				float right
			&:nth-child(5),&:nth-child(10)
				opacity 0
	& section article 
		padding 0.3rem 0
		& p 
			color COLOR_WHITE
			text-align center
			padding 0 1rem
			& strong
				color COLOR_GREEN 
		& ul.list-inline
			list-style none
			& li 
				vertical-align top
				display inline-block
				width 50%
				& a
					color COLOR_WHITE
		& ul.list 
			list-style none
			& li 
				text-align center
				width 90%
				margin 0.3rem auto
				padding .3rem
				border-radius (SPACE/2)
				display block
				&:after 
					font-family: 'FontAwesome'
					content '\f00c'
					float right
					margin-right .2rem
					width 1.5rem
					height 1.5rem
					border-radius 50%
					line-height 1.5rem
					position: relative
					bottom .1rem
					background-color COLOR_WHITE
		& ul.list-items
			list-style none
			& >li 
				display block
				width 90%
				margin 0.3rem auto
				border-radius (SPACE/2)
				padding-bottom 0.3rem
				& h3 ,address, time, a 
					text-align center
					width 100%
					display block
				& > a
					color COLOR_WHITE
					padding 0.3rem 
					width 90%
					border-radius (SPACE/2)
					margin 0.3rem auto
					&:after
						font-family 'FontAwesome'
						content ""
						float right
						margin-right .2rem
						width 1.5rem
						height 1.5rem
						border-radius 50%
						line-height 1.5rem
						position: relative
						bottom .1rem

	&.PW
		& h2 
			background: COLOR_SERVICE_PW
			color lighten(COLOR_SERVICE_PW,90%)
		& > span
			border .4rem solid COLOR_SERVICE_PW
			color COLOR_SERVICE_PW
		& section article 
			& ul li 
				background-color COLOR_GREEN
				&:after
					color COLOR_GREEN
	&.CO
		& h2 
			background: COLOR_SERVICE_CO
			color lighten(COLOR_SERVICE_CO,90%)
		& > span
			border .4rem solid COLOR_SERVICE_CO
			color COLOR_SERVICE_CO
		& section article 
			& ul li 
				background-color COLOR_SERVICE_PW
			& ul.list-items > li 
				& > a
					background-color COLOR_GREEN
					&:first-of-type
						&:after
							content "\f02d"
							background-color COLOR_WHITE
							color COLOR_GREEN
					&:nth-of-type(2)
						&:after
							content "\f113"
							background-color COLOR_WHITE
							color COLOR_GREEN

	&.EM
		& h2 
			background: COLOR_SERVICE_EM
			color lighten(COLOR_SERVICE_EM,90%)
		& > span
			border .4rem solid COLOR_SERVICE_EM
			font-size 2.2rem
			padding .5rem 0
			color COLOR_SERVICE_EM
	&.AM
		& h2 
			background: COLOR_SERVICE_AM
			color lighten(COLOR_SERVICE_AM,90%)
		& > span
			border .4rem solid COLOR_SERVICE_AM
			color COLOR_SERVICE_AM
		& section article 
			& ul li 
				background-color COLOR_THEME
				&:after
					color COLOR_THEME
	&.CT
		& h2 
			background: COLOR_SERVICE_CT
			color lighten(COLOR_SERVICE_CT,90%)
		& > span
			border .4rem solid COLOR_SERVICE_CT
			color COLOR_SERVICE_CT
	&.DW
		& h2 
			background: COLOR_SERVICE_DW
			color lighten(COLOR_SERVICE_DW,90%)
		& > span
			border .4rem solid COLOR_SERVICE_DW
			color COLOR_SERVICE_DW
			font-size 2.2rem
			padding .5rem 0


header
	height HEIGHT_HEADER
	background-color COLOR_DARK
	text-align center
	& *
		color: COLOR_WHITE
	h1
		line-height 3rem

.row
	& .item
		text-align center
		float left
		width (100/6)%
		padding 0.2rem 
		& a
			display block
		&:nth-child(1)
			& a
				>figure
					color:COLOR_SERVICE_PW
					border 0.2rem solid COLOR_SERVICE_PW
		&:nth-child(2)
			& a
				>figure
					color:COLOR_SERVICE_CO
					border 0.2rem solid COLOR_SERVICE_CO
		&:nth-child(3)
			& a
				>figure
					color:COLOR_SERVICE_EM
					border 0.2rem solid COLOR_SERVICE_EM
		&:nth-child(4)
			& a
				>figure
					color:COLOR_SERVICE_AM
					border 0.2rem solid COLOR_SERVICE_AM
			
		&:nth-child(5)
			& a
				>figure
					color:COLOR_SERVICE_CT
					border 0.2rem solid COLOR_SERVICE_CT
		&:nth-child(6)
			& a
				>figure
					color:COLOR_SERVICE_DW
					border 0.2rem solid COLOR_SERVICE_DW  


footer
	background-color: COLOR_DARK
	padding: 10px 0

.row
	& blockquote
		padding SPACE
		text-align center
		color COLOR_WHITE
		margin SPACE SPACE
		&:before
		&:after
			font-family "FontAwesome"
			font-size 1rem
			color COLOR_WHITE
		&:before
			content: "\f10d"
		&:after
			content: "\f10e"

	& img
		display block
		margin 0 auto

.yetMenber
	text-align center
	padding 0
	width 100%
	margin-top SPACE
	border-radius SPACE
	background-color rgba(0, 0, 0, .75)
	overflow hidden 
	&>img 
		border-radius SPACE
		width SPACE*8
		height SPACE*8
		float left
	& a,span
		display block
		color white
	& ul
		display none
		margin-top SPACE
		list-style: none
		margin-bottom SPACE
		& li
			display inline-block
			text-align center
			margin-bottom SPACE/2
			margin-left SPACE/2
			font-size 0
			width SPACE*3
			height SPACE*3
			background-color COLOR_WHITE
			border-radius 50%
			& span
				//border-radius 50%
				position relative
				bottom -0.1rem
				font-size SPACE*2
				//margin-left .3rem
				//line-height 0
				&.facebook
					color COLOR_FACEBOOK
				&.twitter
					color COLOR_TWITTER
				&.linkedin
					color COLOR_LINKEDIN
				&.github
					color COLOR_GITHUB

.briefcase
	padding-bottom 1rem	
	>span
		color COLOR_BRIEFCASE
	& .row
		& figure
			& h3
				text-align center
			& img
				width 100%;

.ubication
	padding-bottom 1rem	
	>span
		color COLOR_UBICATION
	&>div
		& div#yetLocal
			height: 13rem
			border-radius SPACE
			border .4rem solid rgba(0, 0, 0, .75)
		& address
			text-align center
.contact
	>span
		color COLOR_CONTACT
.us
	>span
		color COLOR_US




.hidden-content
	z-index -1
	position absolute
.show-content
	z-index 1 !important
	position relative !important
.tansition-down
	transition all 0.4s ease-in-out 		

.head
	height 3rem
	line-height 3rem
	color COLOR_WHITE

.fix-padding
	padding-top .3rem

.font-sizeO
	font-size 0
.pos-absolute
	position absolute