header,
section,
aside,
footer,
article,
nav,
figure,
figcaption,
blockquote,
ul {
  display: block;
  margin: 0;
  padding: 0;
}
html,
body {
  margin: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
* :after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #00aed7;
}
a:hover,
a :active,
a :focus {
  outline: none;
}
h1 {
  display: inline-block;
  font-weight: 700;
}
h2 {
  font-weight: 400;
}
p,
blockquote,
address,
time {
  font-weight: 300;
  margin: 0;
}
h3,
h2,
h1 {
  margin: 0;
}
img.responsive {
  width: 100%;
}
.text.center {
  text-align: center;
}
.text.left {
  text-align: left;
}
.text.right {
  text-align: right;
}
.text.color {
  color: #fff;
}
.bck.header {
  background-color: #00aed7;
}
.bck.theme {
  background-color: #00aed7;
}
.bck.orange {
  background-color: #c83c23;
}
.bck.green {
  background-color: #34cc67;
}
.bck.sky-blue {
  background-color: #66cbff;
}
.bck.PW {
  background-color: #334960;
}
.bck.CO {
  background-color: #32900e;
}
.bck.EM {
  background-color: #8f3fb0;
}
.bck.AM {
  background-color: #982438;
}
.bck.CT {
  background-color: #c33825;
}
.bck.DW {
  background-color: #d65400;
}
.bck.us {
  background-color: #449bb6;
}
.bck.white {
  background-color: #fff;
}
.bck.team {
  background-color: #0b2de5;
}
.bck.cources {
  background-color: #32900e;
}
.bck.briefcase {
  background-color: #eb5054;
}
.bck.contact {
  background-color: #e98257;
}
.bck.ubication {
  background-color: #68c49f;
}
* {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
body {
  font-family: 'Nunito', sans-serif;
}
header,
section,
footer,
aside {
  position: relative;
  left: auto;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
footer {
  text-align: center;
  color: #fff;
}
footer h2,
footer h3 {
  margin: 0;
}
.service,
.briefcase,
.ubication,
.us,
.contact {
  color: #fff;
  padding-bottom: 0.3rem;
}
.service h2,
.briefcase h2,
.ubication h2,
.us h2,
.contact h2 {
  text-align: center;
  padding: 0.25rem 0 0 0;
  margin: 0;
}
.service > span,
.briefcase > span,
.ubication > span,
.us > span,
.contact > span {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  padding: 0.3rem 0;
  position: relative;
  font-size: 2.7rem;
  text-align: center;
  background-color: #fff;
  display: block;
  margin: 0 auto;
  width: 4rem;
  height: 4rem;
  z-index: 2;
}
.service .features {
  text-align: center;
  position: relative;
  top: -3rem;
  width: 100%;
}
.service .features span {
  color: rgba(255,255,255,0.4);
  font-size: 2rem;
  width: 10%;
}
.service .features span:nth-child(1),
.service .features span:nth-child(2),
.service .features span:nth-child(3),
.service .features span:nth-child(4),
.service .features span:nth-child(5) {
  float: left;
}
.service .features span:nth-child(6),
.service .features span:nth-child(7),
.service .features span:nth-child(8),
.service .features span:nth-child(9),
.service .features span:nth-child(10) {
  float: right;
}
.service .features span:nth-child(5),
.service .features span:nth-child(10) {
  opacity: 0;
}
.service section article {
  padding: 0.3rem 0;
}
.service section article p {
  color: #fff;
  text-align: center;
  padding: 0 1rem;
}
.service section article p strong {
  color: #34cc67;
}
.service section article ul.list-inline {
  list-style: none;
}
.service section article ul.list-inline li {
  vertical-align: top;
  display: inline-block;
  width: 50%;
}
.service section article ul.list-inline li a {
  color: #fff;
}
.service section article ul.list {
  list-style: none;
}
.service section article ul.list li {
  text-align: center;
  width: 90%;
  margin: 0.3rem auto;
  padding: 0.3rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
  border-radius: 0.25rem;
  display: block;
}
.service section article ul.list li:after {
  font-family: 'FontAwesome';
  content: '\f00c';
  float: right;
  margin-right: 0.2rem;
  width: 1.5rem;
  height: 1.5rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  line-height: 1.5rem;
  position: relative;
  bottom: 0.1rem;
  background-color: #fff;
}
.service section article ul.list-items {
  list-style: none;
}
.service section article ul.list-items >li {
  display: block;
  width: 90%;
  margin: 0.3rem auto;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
  border-radius: 0.25rem;
  padding-bottom: 0.3rem;
}
.service section article ul.list-items >li h3,
.service section article ul.list-items >li address,
.service section article ul.list-items >li time,
.service section article ul.list-items >li a {
  text-align: center;
  width: 100%;
  display: block;
}
.service section article ul.list-items >li > a {
  color: #fff;
  padding: 0.3rem;
  width: 90%;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
  border-radius: 0.25rem;
  margin: 0.3rem auto;
}
.service section article ul.list-items >li > a:after {
  font-family: 'FontAwesome';
  content: "";
  float: right;
  margin-right: 0.2rem;
  width: 1.5rem;
  height: 1.5rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  line-height: 1.5rem;
  position: relative;
  bottom: 0.1rem;
}
.service.PW h2 {
  background: #334960;
  color: #e7edf2;
}
.service.PW > span {
  border: 0.4rem solid #334960;
  color: #334960;
}
.service.PW section article ul li {
  background-color: #34cc67;
}
.service.PW section article ul li:after {
  color: #34cc67;
}
.service.CO h2 {
  background: #32900e;
  color: #e7fcdf;
}
.service.CO > span {
  border: 0.4rem solid #32900e;
  color: #32900e;
}
.service.CO section article ul li {
  background-color: #334960;
}
.service.CO section article ul.list-items > li > a {
  background-color: #34cc67;
}
.service.CO section article ul.list-items > li > a:first-of-type:after {
  content: "\f02d";
  background-color: #fff;
  color: #34cc67;
}
.service.CO section article ul.list-items > li > a:nth-of-type(2):after {
  content: "\f113";
  background-color: #fff;
  color: #34cc67;
}
.service.EM h2 {
  background: #8f3fb0;
  color: #f4ebf8;
}
.service.EM > span {
  border: 0.4rem solid #8f3fb0;
  font-size: 2.2rem;
  padding: 0.5rem 0;
  color: #8f3fb0;
}
.service.AM h2 {
  background: #982438;
  color: #f9e5e8;
}
.service.AM > span {
  border: 0.4rem solid #982438;
  color: #982438;
}
.service.AM section article ul li {
  background-color: #00aed7;
}
.service.AM section article ul li:after {
  color: #00aed7;
}
.service.CT h2 {
  background: #c33825;
  color: #fbeae8;
}
.service.CT > span {
  border: 0.4rem solid #c33825;
  color: #c33825;
}
.service.DW h2 {
  background: #d65400;
  color: #ffede1;
}
.service.DW > span {
  border: 0.4rem solid #d65400;
  color: #d65400;
  font-size: 2.2rem;
  padding: 0.5rem 0;
}
header {
  height: 3rem;
  background-color: #2c2c2c;
  text-align: center;
}
header * {
  color: #fff;
}
header h1 {
  line-height: 3rem;
}
.row .item {
  text-align: center;
  float: left;
  width: 16.666666666666668%;
  padding: 0.2rem;
}
.row .item a {
  display: block;
}
.row .item:nth-child(1) a >figure {
  color: #334960;
  border: 0.2rem solid #334960;
}
.row .item:nth-child(2) a >figure {
  color: #32900e;
  border: 0.2rem solid #32900e;
}
.row .item:nth-child(3) a >figure {
  color: #8f3fb0;
  border: 0.2rem solid #8f3fb0;
}
.row .item:nth-child(4) a >figure {
  color: #982438;
  border: 0.2rem solid #982438;
}
.row .item:nth-child(5) a >figure {
  color: #c33825;
  border: 0.2rem solid #c33825;
}
.row .item:nth-child(6) a >figure {
  color: #d65400;
  border: 0.2rem solid #d65400;
}
footer {
  background-color: #2c2c2c;
  padding: 10px 0;
}
.row blockquote {
  padding: 0.5rem;
  text-align: center;
  color: #fff;
  margin: 0.5rem 0.5rem;
}
.row blockquote:before,
.row blockquote:after {
  font-family: "FontAwesome";
  font-size: 1rem;
  color: #fff;
}
.row blockquote:before {
  content: "\f10d";
}
.row blockquote:after {
  content: "\f10e";
}
.row img {
  display: block;
  margin: 0 auto;
}
.yetMenber {
  text-align: center;
  padding: 0;
  width: 100%;
  margin-top: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  border-radius: 0.5rem;
  background-color: rgba(0,0,0,0.75);
  overflow: hidden;
}
.yetMenber>img {
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  border-radius: 0.5rem;
  width: 4rem;
  height: 4rem;
  float: left;
}
.yetMenber a,
.yetMenber span {
  display: block;
  color: #fff;
}
.yetMenber ul {
  display: none;
  margin-top: 0.5rem;
  list-style: none;
  margin-bottom: 0.5rem;
}
.yetMenber ul li {
  display: inline-block;
  text-align: center;
  margin-bottom: 0.5rem/2;
  margin-left: 0.5rem/2;
  font-size: 0;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.yetMenber ul li span {
  position: relative;
  bottom: -0.1rem;
  font-size: 1rem;
}
.yetMenber ul li span.facebook {
  color: #45619d;
}
.yetMenber ul li span.twitter {
  color: #29c;
}
.yetMenber ul li span.linkedin {
  color: #1582bb;
}
.yetMenber ul li span.github {
  color: #333;
}
.briefcase {
  padding-bottom: 1rem;
}
.briefcase >span {
  color: #eb5054;
}
.briefcase .row figure h3 {
  text-align: center;
}
.briefcase .row figure img {
  width: 100%;
}
.ubication {
  padding-bottom: 1rem;
}
.ubication >span {
  color: #68c49f;
}
.ubication>div div#yetLocal {
  height: 13rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  border-radius: 0.5rem;
  border: 0.4rem solid rgba(0,0,0,0.75);
}
.ubication>div address {
  text-align: center;
}
.contact >span {
  color: #f5e753;
}
.us >span {
  color: #449bb6;
}
.hidden-content {
  z-index: -1;
  position: absolute;
}
.show-content {
  z-index: 1 !important;
  position: relative !important;
}
.tansition-down {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.head {
  height: 3rem;
  line-height: 3rem;
  color: #fff;
}
.fix-padding {
  padding-top: 0.3rem;
}
.font-sizeO {
  font-size: 0;
}
.pos-absolute {
  position: absolute;
}
.row {
  width: 100%;
  display: block;
  padding: 0 0.5rem;
}
.row:after {
  content: '';
  clear: both;
  display: table;
  *zoom: 1;
}
.row .row {
  width: auto;
  display: inline-block;
}
[role="user"] {
  z-index: 2;
  position: fixed;
  height: 100%;
  width: 220px;
  right: -220px;
  background-color: #2c2c2c;
  -webkit-transition: right 0.4s ease-in-out;
  -moz-transition: right 0.4s ease-in-out;
  -ms-transition: right 0.4s ease-in-out;
  -o-transition: right 0.4s ease-in-out;
  transition: right 0.4s ease-in-out;
  overflow-y: scroll;
}
[role="menu"] {
  z-index: 2;
  position: fixed;
  height: 100%;
  width: 220px;
  left: -220px;
  background-color: #2c2c2c;
  -webkit-transition: left 0.4s ease-in-out;
  -moz-transition: left 0.4s ease-in-out;
  -ms-transition: left 0.4s ease-in-out;
  -o-transition: left 0.4s ease-in-out;
  transition: left 0.4s ease-in-out;
  overflow-y: scroll;
}
[role="menu"] a {
  color: #fff;
  display: block;
  padding: 0.25rem;
  text-decoration: none;
}
[role="menu"] a span:nth-of-type(1) {
  display: inline-block;
  width: 30%;
  text-align: center;
}
[role="menu"] a:not(span) {
  vertical-align: top;
}
[role="menu"] a:first-child {
  line-height: 0.2rem;
  text-align: center;
  padding-bottom: 0.2rem;
}
[role="menu"] a:first-child img {
  display: block;
  width: 40%;
  background-color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 0.4rem solid rgba(0,0,0,0.75);
  -webkit-box-shadow: 0 0 0.2rem 0.1rem rgba(255,255,255,0.5);
  -moz-box-shadow: 0 0 0.2rem 0.1rem rgba(255,255,255,0.5);
  -ms-box-shadow: 0 0 0.2rem 0.1rem rgba(255,255,255,0.5);
  -o-box-shadow: 0 0 0.2rem 0.1rem rgba(255,255,255,0.5);
  box-shadow: 0 0 0.2rem 0.1rem rgba(255,255,255,0.5);
}
[role="menu"] a:first-child span {
  display: inline-block;
  font-size: 1.3rem;
  padding: 1rem 0;
  vertical-align: top;
  color: #fff;
}
[role="menu"] a:nth-child(2) {
  border-bottom: 0.1rem solid #00aed7;
}
[role="menu"] a:nth-child(2) span {
  color: #00aed7;
}
[role="menu"] a:nth-child(3) {
  border-bottom: 0.1rem solid #449bb6;
}
[role="menu"] a:nth-child(3) span {
  color: #449bb6;
}
[role="menu"] a:nth-child(4) {
  border-bottom: 0.1rem solid #eb5054;
}
[role="menu"] a:nth-child(4) span {
  color: #eb5054;
}
[role="menu"] a:nth-child(5) {
  border-bottom: 0.1rem solid #68c49f;
}
[role="menu"] a:nth-child(5) span {
  color: #68c49f;
}
[role="menu"] a:nth-child(6) {
  border-bottom: 0.1rem solid #2fc1b4;
}
[role="menu"] a:nth-child(6) span {
  color: #2fc1b4;
}
[role="menu"] a:nth-child(7) {
  border-bottom: 0.1rem solid #e67f22;
}
[role="menu"] a:nth-child(7) span {
  color: #e67f22;
}
[role="menu"] a:nth-child(8) {
  border-bottom: 0.1rem solid #f5e753;
}
[role="menu"] a:nth-child(8) span {
  color: #f5e753;
}
[role="menu"] a:nth-child(9) {
  border-bottom: 0.1rem solid #f5e753;
}
[role="menu"] a:nth-child(9) span {
  color: #f5e753;
}
[role="slider"] {
  margin: 0;
  background: url("../images/portada-mobile-yetsu.jpg") no-repeat center center;
  text-align: center;
  color: #fff;
}
[role="logo"] {
  width: 30%;
  display: block;
  margin: 0 auto;
  background-color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 0.2rem solid #787878;
}
[role="logo"] img {
  width: 100%;
}
[role="services"] {
  background-color: #fff;
  padding: 0.1rem 0;
  overflow: hidden;
}
[role="services"] a {
  float: left;
  color: #449bb6;
  text-align: center;
  width: 33.333333333333336%;
  padding: 0.1rem;
  font-size: 1rem;
}
[role="services"] a span {
  display: block;
  font-size: 2rem;
  background-color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  line-height: 3.5rem;
  margin: 0 auto;
  color: #e98257;
}
[role="ico-menu"],
[role="ico-user"] {
  z-index: 2;
  position: absolute;
  top: 0.5rem;
}
[role="ico-menu"] span,
[role="ico-user"] span {
  font-size: 2rem;
}
[role="ico-menu"] {
  left: 0;
  margin-left: 0.5rem;
}
[role="ico-user"] {
  right: 0;
  margin-right: 0.5rem;
}
[role="aside"] {
  position: fixed;
  background-color: #fff;
  bottom: 0;
  z-index: 2;
  width: 100%;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
[role="aside"] >div >figure {
  display: block;
  width: 25%;
/*margin-left (10/3)%
		margin-top (10/3)%
		margin-bottom (10/3)%*/
  height: 4rem;
  float: left;
  text-align: center;
  padding: 1rem;
}
[role="aside"] >div >figure span {
  color: #fff;
  background-color: #00aed7;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  border-radius: 1rem;
  font-size: 2rem;
  padding: 0.5rem;
}
[role="aside"] >span {
  display: block;
  background-color: #fff;
  color: #00aed7;
  position: absolute;
  top: -2rem;
  text-align: center;
  width: 2rem;
  height: 2rem;
  -webkit-border-radius: 1rem 1rem 0 0;
  -moz-border-radius: 1rem 1rem 0 0;
  -ms-border-radius: 1rem 1rem 0 0;
  -o-border-radius: 1rem 1rem 0 0;
  border-radius: 1rem 1rem 0 0;
  right: 0.5rem;
  cursor: pointer;
}
.open-menu {
  left: 0;
}
.move-blocks {
  left: 220px;
}
.open-user {
  right: 0px;
}
.move-blocks-user {
  right: 220px;
}
.showSocial {
  bottom: 0 !important;
}
.overflow-x {
  overflow-x: hidden;
}
form {
  width: 100%;
}
form fieldset {
  border: none;
  margin: 0;
}
form fieldset label {
  display: none;
  width: 25%;
  float: left;
  text-align: right;
  padding-right: 0.25rem;
  margin-top: 0.25rem;
}
form fieldset input {
  height: 3rem;
}
form fieldset input,
form fieldset textarea {
  display: block;
  width: 100%;
  margin-bottom: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  border-radius: 0.5rem;
  border: 0.2rem solid rgba(0,0,0,0.4);
}
form fieldset input::-webkit-input-placeholder,
form fieldset textarea::-webkit-input-placeholder {
  color: #000;
  text-align: center;
}
form fieldset input:-moz-placeholder /* Firefox 18- */,
form fieldset textarea:-moz-placeholder /* Firefox 18- */ {
  color: #000;
  text-align: center;
}
form fieldset input::-moz-placeholder /* Firefox 19+ */,
form fieldset textarea::-moz-placeholder /* Firefox 19+ */ {
  color: #000;
  text-align: center;
}
form fieldset input:-ms-input-placeholder,
form fieldset textarea:-ms-input-placeholder {
  color: #000;
  text-align: center;
}
form fieldset textarea {
  height: 3.5rem;
}
form fieldset button {
  padding: 0.25rem 0.5rem;
  display: block;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  border-radius: 0.5rem;
  margin: 0 auto 0 auto;
  background-color: #00aed7;
  color: #fff;
  border: none;
}
html {
  font-size: 75%;
}
h1 {
  margin: 0;
  *font-size: 16px;
  font-size: 1.5rem;
}
h2 {
  font-size: 1.25rem;
}
h3 {
  font-size: 1rem;
}
h4 {
  font-size: 0.8rem;
}
@media only screen and (min-width: 320px) {
  html {
    font-size: 81.25%;
/* 13px */
  }
}
@media only screen and (min-width: 480px) {
  html {
    font-size: 87.5%;
/* 14px */
  }
  .yetMenber {
    width: 50%;
    float: left;
  }
  .us>img,
  .us blockquote {
    float: right;
  }
  .us>img {
    width: 15%;
  }
  .us blockquote {
    margin-left: 1%;
    width: 84%;
  }
  [role="slider"] {
    background: url("../images/portada-laptop-yetsu.jpg") no-repeat top;
  }
}
@media only screen and (min-width: 768px) {
  html {
    font-size: 92%;
  }
  [role="slider"] {
    background: url("../images/portada-pc-yetsu.jpg") no-repeat top;
  }
  .yetMenber {
    width: 22.5%;
    margin-left: 2%;
    margin-top: 2%;
  }
  .yetMenber:first-child {
    margin-left: 2%;
  }
  .row {
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }
  .row .item {
    width: 16.666666666666668%;
    float: left;
  }
  .row .item >figure,
  .row .item >div {
    float: none;
    margin: 0.2rem auto 0 auto;
  }
  .row .item >figure {
    color: #fff;
    padding: 0.5rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
  }
}
@media only screen and (min-width: 960px) {
  html {
    font-size: 100%;
  }
  .row {
    text-align: inherit;
  }
  .yetMenber img {
    width: 100%;
    height: auto;
  }
  .yetMenber ul {
    display: block;
  }
  [role="logo"] {
    position: relative;
    background-color: transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    z-index: 2;
    width: 3rem;
    top: -4rem;
    display: inline-block;
    border: none;
    left: -46.8%;
  }
  [role="logo"] img {
    width: 100%;
  }
  [role="services"] {
    background-color: #34cc67;
  }
  [role="ico-menu"] {
    z-index: -1;
  }
  [role="ico-user"] {
    z-index: -1;
  }
  [role="slider"] {
    background-color: #66cbff;
    padding: 0;
/*min-height 400px*/
  }
  header {
    position: relative;
    width: 100%;
    height: 4rem;
    overflow: visible;
    text-align: inherit;
  }
  header h1 {
    margin-left: 3rem;
    padding-top: 0.5rem;
  }
  [role="user"] {
    display: none;
    z-index: 2;
    position: relative;
    height: 100%;
    width: 220px;
    background-color: #00aed7;
    overflow-y: scroll;
    right: 0;
  }
  [role="aside"] {
    position: absolute;
    top: 0 !important;
    background-color: transparent;
    text-align: right;
    z-index: 1;
  }
  [role="aside"] span {
    padding: 0.5rem;
    color: #fff;
  }
  .csstransforms3d [role="menu"] a span:before {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    content: attr(data-hover);
    -webkit-transition: background 0.2s ease;
    -moz-transition: background 0.2s ease;
    -ms-transition: background 0.2s ease;
    -o-transition: background 0.2s ease;
    transition: background 0.2s ease;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    -ms-transform: rotateX(-90deg);
    -o-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    -o-transform-origin: 50% 0;
    transform-origin: 50% 0;
    padding-top: 0.18rem;
  }
  .csstransforms3d [role="menu"] a:nth-child(2):hover span:before,
  .csstransforms3d [role="menu"] a:nth-child(2):focus span:before {
    background: #008bac;
  }
  .csstransforms3d [role="menu"] a:nth-child(3):hover span:before,
  .csstransforms3d [role="menu"] a:nth-child(3):focus span:before {
    background: #367c92;
  }
  .csstransforms3d [role="menu"] a:nth-child(4):hover span:before,
  .csstransforms3d [role="menu"] a:nth-child(4):focus span:before {
    background: #e21a1f;
  }
  .csstransforms3d [role="menu"] a:nth-child(5):hover span:before,
  .csstransforms3d [role="menu"] a:nth-child(5):focus span:before {
    background: #43ad82;
  }
  .csstransforms3d [role="menu"] a:nth-child(6):hover span:before,
  .csstransforms3d [role="menu"] a:nth-child(6):focus span:before {
    background: #269a90;
  }
  .csstransforms3d [role="menu"] a:nth-child(7):hover span:before,
  .csstransforms3d [role="menu"] a:nth-child(7):focus span:before {
    background: #be6515;
  }
  .csstransforms3d [role="menu"] a:nth-child(8):hover span:before,
  .csstransforms3d [role="menu"] a:nth-child(8):focus span:before {
    background: #f1de15;
  }
  [role="menu"] {
    left: 0;
    width: 100%;
    height: 0;
    position: absolute;
    overflow: visible;
    top: 1.2rem;
    margin: 0;
    text-align: right;
  }
  [role="menu"] a {
/*********** efect **/
    -webkit-perspective: 50rem;
    -moz-perspective: 50rem;
    -ms-perspective: 50rem;
    -o-perspective: 50rem;
    perspective: 50rem;
/********************/
    display: inline-block;
    text-align: center;
    padding: 0;
    *width: 11%;
    width: 7rem;
    border-bottom: none !important;
    position: relative;
    -webkit-transition: top 0.2s ease-in-out;
    -moz-transition: top 0.2s ease-in-out;
    -ms-transition: top 0.2s ease-in-out;
    -o-transition: top 0.2s ease-in-out;
    transition: top 0.2s ease-in-out;
  }
  [role="menu"] a:hover span,
  [role="menu"] a :focus span {
    -webkit-transform: rotateX(90deg) translateY(-22px);
    -moz-transform: rotateX(90deg) translateY(-22px);
    -ms-transform: rotateX(90deg) translateY(-22px);
    -o-transform: rotateX(90deg) translateY(-22px);
    transform: rotateX(90deg) translateY(-22px);
  }
  [role="menu"] a:active {
    top: 0.2rem;
/*border-bottom: 0 solid COLOR_THEME !important*/
  }
  [role="menu"] a span:nth-of-type(1) {
    display: none;
  }
  [role="menu"] a span:nth-of-type(2) {
    display: block;
    -webkit-transition: transform 0.4s;
    -moz-transition: transform 0.4s;
    -ms-transition: transform 0.4s;
    -o-transition: transform 0.4s;
    transition: transform 0.4s;
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    -o-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    padding: 0.18rem 0;
  }
  [role="menu"] a:first-child {
    display: none;
  }
  .open-menu {
    left: none !important;
  }
  .move-blocks {
    left: none !important;
  }
  .overflow-x {
    overflow-x: visible !important;
  }
}
@media only screen and (min-width: 1200px) {
  html {
    font-size: 112.5%;
  }
  .row {
    width: 1200px;
  }
  .yetMenber {
    width: 10rem;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
  }
}
