//padding, margin
AIR=0.8em

//column-rule 
COLOR_THEME=#005588 
COLOR_WHITE=#ffffff
/********  COLOR SERVICES ***************/
COLOR_SERVICE_DW=#BE326A
COLOR_SERVICE_PW=#32900E
COLOR_SERVICE_AM=#CC4300
COLOR_SERVICE_CT=#1A81B6
COLOR_SERVICE_CO=#CCB200
COLOR_SERVICE_EM=#2C3E50

COLOR_US=#DC471A
COLOR_TEAM=#0B2DE5
COLOR_COURCES=#B9B906
COLOR_DARK=#424242

BCK_THEME=#318BE8

//TAMAÑO DEL LOGO
LEN_LOGO=50px

SPACE=1rem