*
	transition(all 0.4s ease-in-out)
html 
	font-size:75%

h1
	margin : 0
	font-size:1.3rem 
h2
	font-size:1rem
h3
	font-size:.8rem


//******************** MEDIA QUERIES *******************************/
@media only screen and (min-width: 320px) 
	html 
		font-size: 81.25% /* 13px */
@media only screen and (min-width: 480px) 
	html 
		font-size: 87.5%  /* 14px */
@media only screen and (min-width: 768px) 
	html 
		font-size: 92%   
	[data-yetsu="menu"]
		left: 0
		width: 100%
		position: relative
		overflow-y: hidden
		padding-left:7rem
		text-align right
		& > a
			display: inline-block
			border-bottom: 0 


	[data-yetsu="ico-menu"]
		z-index -1

	header
		position absolute
		width 100%
		height 8rem
		overflow: visible
		& div
			& h1
				padding-left 1rem
				color #003B5F
				position absolute
				z-index 3
				left 0
				font-size 2rem
				top -3rem
				color white 
	[data-yetsu="logo"]
		padding 0
		border-radius: 0
		margin-right 15px 
		border-radius 50%
		border 4px solid COLOR_DARK
		background-color COLOR_WHITE
		
@media only screen and (min-width: 960px) 
	html 
		font-size: 100%
	.services
		margin 0 auto
		width 90%
		text-align center
		.item
			width 20%
			float left
			>figcaption,>div
				float none
				block-center(.5rem,0)
			>figcaption
				color white
				padding .5rem
				border-radius 50%
				width 3rem
				height 3rem
				//width: 20%
			>div
				//width: 80%

		.item:nth-child(1)
			background-color:darken(#E3BC4D,20%)
			>figcaption
				background-color:darken(#E3BC4D,50%)
			>div
				background-color:transparent
		.item:nth-child(2)
			background-color:darken(#E65056,20%)
			>figcaption
				background-color:darken(#E65056,50%)
			>div
				background-color:transparent
		.item:nth-child(3)
			background-color:darken(#29C0AE,20%)
			>figcaption
				background-color:darken(#29C0AE,50%)
			>div
				background-color:transparent
		.item:nth-child(4)
			background-color:darken(#5267B5,20%)
			>figcaption
				background-color:darken(#5267B5,50%)
			>div
				background-color:transparent
		.item:nth-child(5)
			background-color:darken(#9E54BD,20%)
			>figcaption
				background-color:darken(#9E54BD,50%)
			>div
				background-color:transparent


	