.bck
	&.header
		background-color:COLOR_THEME
	&.us
		//background-color:COLOR_US
	&.white
		background-color:white
	&.team
		background-color:COLOR_TEAM
	&.cources
		background-color: COLOR_SERVICE_CO
	&.briefcase
		background-color:COLOR_BRIEFCASE
	&.contact
		background-color:COLOR_CONTACT
	&.ubication
		background-color:COLOR_UBICATION
