h1
	display:inline-block
body
	//overflow: hidden
header,section,footer
	position: relative
	overflow hidden
	background-color #005588
	left: 0
	transition(left 0.4s ease-in-out)
footer
	text-align center
	color white
	h2,h3
		margin 0
section,footer 
	& h2
		text-align center
		padding .5rem 0
		margin 0
	& blockquote
		width 90%
		margin .5rem auto 0 auto
		background-color white
		padding .5rem
		border-radius .8rem
		border 2px solid #2E2D38
		text-align center
		&:before
		&:after
			font-family "FontAwesome"
			font-size 1rem
			color COLOR_THEME
		&:before
			content: "\f10d"
		&:after
			content: "\f10e"
	& img
		display block
		margin 0 auto
header
	&>div 
		padding: .2em 0
	& *
		color: #F2F2F2 
	& em
		display:block;
		text-align:center	



.row
	width 100%
.row
	& [class^="icon-"],[class*=" icon-"]
		width 12.5%
		float left
		text-align center
		color white
.cources
	>div
		background-color:#E3BC4D
		overflow hidden
		width 95%
		margin .2rem auto
		border-radius .4rem
		& h3
			margin 0
			display block
			text-align center
			background-color  lighten(#E3BC4D,30%) 
			padding .2rem 0
			border-radius .4rem
		& img
			margin-top .2rem
			margin-bottom .2rem
			width 17%
			margin-left 3%
			float left
			border-radius .2rem
			&:nth-child(2)
				margin-left 1.5%
		&>a
			padding :2rem
			border-radius .5rem
			background-color COLOR_THEME
.services
	overflow hidden
	.item
		text-align center
		//line-height 1.8rem
		>figcaption,>div
			float left
			min-height 2.7rem
		>figcaption
			color white
			width: 20%
		>div
			width: 80%
	.item:nth-child(1)
		>figcaption
			background-color:darken(#E3BC4D,30%)
		>div
			background-color:darken(#E3BC4D,20%)
	.item:nth-child(2)
		>figcaption
			background-color:darken(#E65056,30%)
		>div
			background-color:darken(#E65056,20%)
	.item:nth-child(3)
		>figcaption
			background-color:darken(#29C0AE,30%)
		>div
			background-color:darken(#29C0AE,20%)
	.item:nth-child(4)
		>figcaption
			background-color:darken(#5267B5,30%)
		>div
			background-color:darken(#5267B5,20%)
	.item:nth-child(5)
		>figcaption
			background-color:darken(#9E54BD,30%)
		>div
			background-color:darken(#9E54BD,20%)

	/*for item in 1 2 3
		.item:nth-child({item})
			>figcaption,>div
				float left
				min-height 50px
			>figcaption
				color white
				width: 20%
				background-color:bck*item
			>div
				width: 80%
				background-color:bck*2*item*/

.logo-circle
	display block
	width 30%
	margin 0 auto
	border-radius:50%
	border .3rem solid COLOR_DARK
	background-color COLOR_WHITE

footer
	background-color: COLOR_DARK
	padding: 10px 0

.us
	& h2
		text-align center
		padding 2% 0
		background-color #181860
		color white	
		margin 0
.fix
	overflow hidden
	& .yetMenber
		float:left
		position: relative
		text-align center
		&>img 
			border 2px solid white
		& a 
			display block
			color white
		
		&:nth-child(1),&:nth-child(2),&:nth-child(3),&:nth-child(4),&:nth-child(6),&:nth-child(7),&:nth-child(8),&:nth-child(9)
			//top -100px
			width 25%
			& img
				width:50%
				border-radius 50%
		&:nth-child(1),&:nth-child(4)
			top 3rem
		&:nth-child(6),&:nth-child(9)
			top -3rem
		&:nth-child(1),&:nth-child(6)
			right -3rem
		&:nth-child(4),&:nth-child(9)
			left -3rem
		/*&:nth-child(6),&:nth-child(7)
			top:-9px
		&:nth-child(6)
			left:-7px
		&:nth-child(7)
			right:-7px
*/

