<!doctype html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Yetsu | Tecnología para tu empresa</title>
	<meta name="description" content="YETSU S.A.C" />
	<meta name="author" content="@YetsuPe" />
   	<meta name="viewport" content="width=device-width, initial-scale=1" />
  	<link rel="stylesheet" href="styl/normalize.css" />
	<link rel="stylesheet" href="styl/main.css" />
	<link rel="stylesheet" href="styl/font-awesone.css" />
	<link rel="shortcut icon" href="images/yetsu-favicon.ico" />

	<link href='http://fonts.googleapis.com/css?family=Nunito:400,700,300' rel='stylesheet'>
	<!-- IE<9 -->
	<!--[if lt IE 9]>
		<script src="js/lib/html5shiv.js" type="text/javascript" ></script>
	<![endif]-->
</head>
<body>
	<nav role="menu" id="menu">
		<div class="row">
		<a href="#">
			<img src="images/yetsu-logo.png"/><span>YETSU</span></a> <a href="#">
			<span class="icon-home icon-2x"></span><span data-hover="Inicio" >inicio</span></a><a href="#">
			<span class="icon-group icon-2x"></span><span data-hover="Nosotros">Nosotros</span></a><a href="#">
			<span class="icon-briefcase icon-2x"></span><span data-hover="Portafolio">Portafolio</span></a><a href="#Ubicanos">
			<span class="icon-map-marker icon-2x"></span><span data-hover="Ubicanos">Ubicanos</span></a><a href="#">
			<span class="icon-book icon-2x"></span><span data-hover="Cursos">Cursos</span></a><a href="#">
			<span class="icon-archive icon-2x"></span><span data-hover="Blog">Blog</span></a><a href="#">
			<span class="icon-comments icon-2x"></span><span data-hover="Contactanos">Contactanos</span></a>
		</div>
	</nav>
	<nav role="user" id="section-user">
		<div class="row text center">
			<h2 class="bck theme head">Login Clientes</h2>
			<form action="#">
				<fieldset>
					<input type="text" id="usuario"  required  placeholder="Usuario" />
					<input type="password" id="password" required placeholder="Contraseña" title="Debe ingresar un password válido" />
					<button>Login</button>
				</fieldset>
			</form>
		</div>
		<div class="row text center">
			<h2 class="bck theme head">Dejanos tu comentario:</h2>
			<form action="#">
				<fieldset>
					<textarea name="mensaje" id="mensaje" required ></textarea>
					<button>Enviar</button>
				</fieldset>
			</form>
		</div>

	</nav>
	<header role="header">
		<div class="text center">
			<a role="ico-menu" href="#" id="ico-menu"><span class="icon-reorder"></span></a>
			<h1>YETSU</h1>
			<a role="ico-user" href="#" id="ico-user"><span class="icon-user"></span></a>
		</div>
	</header>
	<aside role="aside" id="yetsuSocial">
		<span id="ico-social" class="icon-chevron-up  icon-2x"></span>
		<div class="row ">
			<figure><a href="#"><span class="icon-linkedin "></span></a></figure>
			<figure><a href="#"><span class="icon-twitter "></span></a></figure>
			<figure><a href="#"><span class="icon-facebook-sign "></span></a></figure>
			<figure><a href="#"><span class="icon-foursquare "></span></a></figure>
			<figure><a href="#"><span class="icon-pinterest "></span></a></figure>
			<figure><a href="#"><span class="icon-youtube "></span></a></figure>
			<figure><a href="#"><span class="icon-google-plus "></span></a></figure>
			<figure><a href="#"><span class="icon-github "></span></a></figure>
		</div>
	</aside>
	<section role="slider" class="row">
		<figure role="banner" >
			<!--<img src="images/portada-yetsu.jpg" alt="Portada Yetsu S.A.C" />-->
			<img src="images/yetsu-logo.png" />
		</figure>
		<h2>@YetsuPe</h2>
		<address><span class="icon-map-marker"></span> Lambayeque, Perú</address>
		<blockquote>
			Somos jóvenes amantes de la tecnología, ofrecemos desarrollo de software para la web y aplicaciones móbiles; Brindamos asesoría en marketing digital y adiestramiento en tecnologías web. 
		</blockquote>
	</section>
	<section role="services" id="services" >
		<div class="row font-sizeO ">
			<a href="#"><span class="icon-globe"></span>Páginas Web </a>
			<a href="#"><span class="icon-code"></span>Cursos </a>
			<a href="#"><span class="icon-tags"></span>E-Marketing</a>
			<a href="#"><span class="icon-tablet"></span>Aplicaciones Móbiles</a>
			<a href="#"><span class="icon-user"></span>Consultoría IT</a>
			<a href="#"><span class="icon-bar-chart"></span>Sistemas Informáticos </a>
			<!--<img src="images/yetNinja.png" alt="Mascota de Yetsu @yetsupe" />-->
		</div>
	</section>
<!--
	<section class="services">
		<div class="row">
			<div class="service bck PW">
				<h2>Páginas Web </h2>
				<span class="icon-globe"></span> 
				<div class="features">
					<span class="icon-html5"></span> 
					<span class="icon-css3"></span> 
					<span class="icon-cloud"></span>
					<span class="icon-facebook-sign"></span>
					<span class="icon-star"></span>
					<span class="icon-twitter"></span>
					<span class="icon-mobile-phone"></span>
					<span class="icon-tablet"></span>
					<span class="icon-laptop"></span>
					<span class="icon-picture"></span>
				</div>
				
				<section>
					<article>
						<p> Contamos con un equipo multidisciplinario de profesionales que aborda cada área del desarrollo web. Garantizamos un correcto desarrollo de sitios web con altos estándares de Cálidad . Garantizamos la optimización de su Website tanto para motores de busqueda <strong>SEO </strong> así como también para todos las resoluciones de pantalla de los diferentes dispositivos <strong>REPONSIVE WEB DESIGN</strong> (Smartphones,Tablets,etc.).
						</p>
						<figure data-picture data-alt="Ninjas de la web">
					     <div data-src="images/mobile-ninja-pw.jpg" /></div>
					     <div data-src="images/tablet-ninja-pw.jpg" data-media="(min-width: 480px)" /></div>
					     <div data-src="images/desktop-ninja-pw.jpg" data-media="(min-width: 768px)" /></div>
					     <noscript><img src="images/mobile-ninja-pw.jp" alt="Ninjas de la web"></noscript>
					  </figure>
						<ul class="list">
							<li>Optimización SEO </li>
							<li>Diseño Atractivo y Exclusivo</li>
							<li>Fácil navegación</li>
							<li>Adaptable a cualquier dispositivo </li>
							<li>Monitorización de tráfico</li>
							<li>Desarrollo de vanguardía</li>
							<li>Asesoriamento en Social Medía</li>
						</ul>
						<p>
						Ante todo primero analizamos sus requirimientos y recibimos todas sus ideas, luego le ayudamos ha estructuralas y asesorarlo en las mejores opciones según sus necesidades, garantizamos siempre estar en contacto con ud y escuchar todas sus propuestas y reslver sus dudas, todos nuestros diseños web son exclusivos, pensados en las necesidades puntuales de cada cliente.
					</p>
					</article>
				</section>
			</div>
			<div class="service bck CO">
				<h2>Cursos  </h2>
				<span class="icon-code"></span>
				<div class="features">
					<span class="icon-html5"></span> 
					<span class="icon-css3"></span> 
					<span class="icon-code"></span>
					<span class="icon-search"></span>
					<span class="icon-star"></span>
					<span class="icon-twitter"></span>
					<span class="icon-mobile-phone"></span>
					<span class="icon-tablet"></span>
					<span class="icon-laptop"></span>
					<span class="icon-picture"></span>
				</div>
				<section>
					<article>
						<p>
							Ofrecemos cursos de formación profesional en Desarrollo de software.
							Nuestros cursos están pensados para brindarte un aprendizaje integral y de vanguardía en desarrollo de software según los requerimientos cada vez más competitivos del MERCADO ACTUAL.
							Te damos verdaderas técnicas y recursos profesionales de diseño web que te permiten resolver las diferentes áreas y tareas de la programación de un modo eficaz según programación  con estandartes SEO, creaciones de UI impactantes para brindar UX óptimass.
							Te brindamos un equipo de docentes especializados con las nuevas tecnologías tanto de fonrtEnd y Backend. en @YetsuPe contamos con personal en constante práctica y mejora continua.
						</p>
						<p>Cursos Finalizados:</p>
						<ul class="list-items">
							<li>
								<h3>I Diplomado de Desarrollo de Aplicaciones Web</h3>

								<figure data-picture data-alt="I YetCurso">
					        <div data-src="images/mobile-estudiantes-y-docentes-I-YetCurso-Desarrollo-de-Aplicaciones-Web.jpg" /></div>
					        <div data-src="images/tablet-estudiantes-y-docentes-I-YetCurso-Desarrollo-de-Aplicaciones-Web.jpg" data-media="(min-width: 480px)" /></div>
					        <div data-src="images/desktop-estudiantes-y-docentes-I-YetCurso-Desarrollo-de-Aplicaciones-Web.jpg" data-media="(min-width: 768px)" /></div>
					        <noscript><img src="small.jpg" alt="I YetCurso"></noscript>
					    	</figure>
			
						    <address>Lugar: Universidad Nacional Pedro Ruíz Gallo</address>
						    <time datetime="2013-03-16">Duración : 2 meses</time>
						    <span>Docentes</span>
						    <ul class="list-inline">
						    	<li> <a href="#">@Skeiter9</a> </li>
						    	<li> <a href="#">@Pilmee</a> </li>
						    </ul>
						    <a href="#">Ver Syllabus</a>
						    <a href="https://github.com/YetsuPe">Ver material del curso</a>
							</li>
						</ul>
					</article>
				</section>
			</div>
			<div class="service bck EM">
				<h2>E-Marketing  </h2>
				<span class="icon-tags"></span>
				<div class="features">
					<span class="icon-facebook-sign"></span> 
					<span class="icon-twitter"></span> 
					<span class="icon-foursquare"></span>
					<span class="icon-pinterest"></span>
					<span class="icon-star"></span>
					<span class="icon-twitter"></span>
					<span class="icon-youtube"></span>
					<span class="icon-instagram"></span>
					<span class="icon-google-plus-sign"></span>
					<span class="icon-youtube"></span>
				</div>
				<section>
					<article>
						<p>
								Te ayudamos a conectar con tus clientes en las Redes Sociales, generar más visitas a tu blog/web generando valor de marca, posicionando tu marca entre las mejores en tu rubro, Internet nos da la ventaja de llegar a todo el mundo, nosotros te ayudaremos a realizar una campaña publicitaria digital de una manera efectiva y con resultandos.
						</p>
					</article>
				</section>
			</div>
			<div class="service bck AM">
				<h2>Aplicaciones Móbiles </h2>
				<span class="icon-tablet"></span>
				<section>
					<article>
						<p>
							En los últimos años, la llegada de smartphones ha multiplicado exponencialmente la cantidad de tráfico móvil. En un futuro, las aplicaciones móviles irán desbancando las páginas Web en versión tradicional. La proliferación de dispositivos móviles lo ha cambiado todo, no sólo la manera de comunicarnos, sino también nuestra forma de trabajar, comprar, vender y relacionarnos.
							Está claro que la empresa que antes se suba al carro contará con ventaja en este nuevo mercado. YETSU te ofrece diversos tipos de aplicaciones desarrolladas para todas las plataformas, así como asesoramiento para decidir qué tipo de app funcionará mejor según los objetivos de tu empresa:</p>
							<ul class="list">
								<li>Aplicaciones móviles para corporativas</li>
								<li>Aplicaciones móviles multimedia</li>
								<li>Juegos corporativos o de ocio</li>
							</ul>
					</article>
				</section>
			</div>
			<div class="service bck CT">
				<h2>Consultoria en TI </h2>
				<span class="icon-user"></span> 
				<section>
					<article>
						<p>
							La asesoría permite conocer al detalle las particularidades del entorno TI ante un proyecto.
Antes de un cambio importante en el departamento de TI debe hacerse un estudio detallado. YETSU brinda servicio de consultoría con el que obtendrás:
La información necesaria para que diferentes departamentos valoren la viabilidad del proyecto a realizar, desde diferentes puntos de vista: el técnico, el económico, el formativo, etc.
La posibilidad de conocer la implicación de un cambio en el entorno TI de tu empresa y organizarlo en diferentes fases.
Las ventajas de saber qué resultados se deben esperar del proyecto a realizar y poder así evaluar la consecución final de los objetivos.
Un estudio personalizado proporciona unos datos objetivos muy interesantes, con los cuales sabrás:
Cómo debe realizarse el proyecto de mejora del entorno TI.
Cuánto tiempo debe invertirse en realizarse el proyecto.
Qué coste económico supondrá.
Cómo afectará a las actuales instalaciones.
El servicio de consultoría es la mejor forma de valorar el grado de urgencia y de efectividad que supondrá la ejecución de un proyecto TI.
						</p>
					</article>
				</section>
			</div>
			<div class="service bck DW">
				<h2>Sistemas Informáticos  </h2>
				<span class="icon-bar-chart"></span>
				<section>
					<article>
						<p>
							Una página web puede estar integrada con un sistema web dinámico, por ejemplo un sistema web para una comunidad en línea o el sistema web para una tienda virtual o un sistema web donde las personas puedan realizar un registro en el cual puedan publicar la venta de su casa con imágenes o sistemas web para la organización de eventos etc. una página web integrada con un sistema Web adecuado con el factor mercadotecnia y posicionamiento en buscadores sería inmensamente poderoso para generar ventas y poder generar interés en sus clientes, por ejemplo podemos tener un sistema web donde las personas venden sus autos y usted se dedica a la venta de accesorios mecánicos para autos
Este sería una gran oportunidad para ofrecer sus servicios ya que la página web tendría un tráfico constante de clientes navegando en su página web, ya sea nuevos usuarios que accedieron a su página web gracias al posicionamiento web y los otros usuarios que se quedaron buscando en su página web navegando en búsqueda de la compra de un auto o vender su auto.
						</p>
					</article>
				</section>
			</div>
		</div>
	</section>
-->
	
	

	<section class="bck us">
		<h2>Nosotros</h2>
		<span class="icon-group icon-2x"></span>
		<div class="row" id="yetMenbers">
			<div class="yetMenber">
				<img alt="Yetsu S.A.C " src="images/skeiter9-omar-lozada-phone.jpg"/>
				<a href="https://twitter.com/skeiter9">@Skeiter9</a>
				<span>Omar Lozada</span>
				<span>CTO</span>
				<ul>
					<li><a href="#"><span class="icon-linkedin linkedin"></span></a></li>
					<li><a href="#"><span class="icon-twitter twitter "></span></a></li>
					<li><a href="#"><span class="icon-facebook facebook "></span></a></li>
					<li><a href="#"><span class="icon-github github "></span></a></li>
				</ul>
			</div>
			<div class="yetMenber">
				
				<img alt="Yetsu S.A.C " src="images/skeiter9-omar-lozada-phone.jpg"/>
				<a href="https://twitter.com/skeiter9">@FioriAs</a>
				<span>Fiorella Aquino</span>
				<span>CEO</span>
				<ul>
					<li><a href="#"><span class="icon-linkedin linkedin"></span></a></li>
					<li><a href="#"><span class="icon-twitter twitter "></span></a></li>
					<li><a href="#"><span class="icon-facebook facebook "></span></a></li>
					<li><a href="#"><span class="icon-github github "></span></a></li>
				</ul>
			</div>
			<div class="yetMenber">
				
				<img alt="Yetsu S.A.C " src="images/skeiter9-omar-lozada-phone.jpg"/>
				<a href="https://twitter.com/skeiter9">@Altamiranocs</a>
				<span>Cesar Altamirano</span>
				<span>Senior Developer</span>
				<ul>
					<li><span class="icon-linkedin linkedin"></span></a></li>
					<li><a href="#"><span class="icon-twitter twitter "></span></a></li>
					<li><a href="#"><span class="icon-facebook facebook "></span></a></li>
					<li><a href="#"><span class="icon-github github "></span></a></li>
				</ul>
			</div>
			<div class="yetMenber">
				
				<img alt="Yetsu S.A.C " src="images/skeiter9-omar-lozada-phone.jpg"/>
				<a href="https://twitter.com/skeiter9">@Jocar_5</a>
				<span>Juán Coronel</span>
				<span>Design Leader</span>
				<ul>
					<li><span class="icon-linkedin linkedin"></span></a></li>
					<li><a href="#"><span class="icon-twitter twitter "></span></a></li>
					<li><a href="#"><span class="icon-facebook facebook "></span></a></li>
					<li><a href="#"><span class="icon-github github "></span></a></li>
				</ul>
			</div>
			<div class="yetMenber">
				<img alt="Yetsu S.A.C " src="images/skeiter9-omar-lozada-phone.jpg"/>
				<a href="https://twitter.com/skeiter9">@Pilmee</a>
				<span>Wilfredo Uriarte</span>
				<span>Backend Developer</span>
				<ul>
					<li><span class="icon-linkedin linkedin"></span></a></li>
					<li><a href="#"><span class="icon-twitter twitter "></span></a></li>
					<li><a href="#"><span class="icon-facebook facebook "></span></a></li>
					<li><a href="#"><span class="icon-github github "></span></a></li>
				</ul>
			</div>
			<div class="yetMenber">
				<img alt="Yetsu S.A.C " src="images/skeiter9-omar-lozada-phone.jpg"/>
				<a href="https://twitter.com/skeiter9">@JavierBancayan</a>
				<span>Javier Bancayan </span>
				<span>Bussiness Advisor</span>
				<ul>
					<li><span class="icon-linkedin linkedin"></span></a></li>
					<li><a href="#"><span class="icon-twitter twitter "></span></a></li>
					<li><a href="#"><span class="icon-facebook facebook "></span></a></li>
					<li><a href="#"><span class="icon-github github "></span></a></li>
				</ul>
			</div>
			<div class="yetMenber">
				<img alt="Yetsu S.A.C " src="images/skeiter9-omar-lozada-phone.jpg"/>
				<a href="https://twitter.com/skeiter9">@MSpERU</a>
				<span>Anguel Sirlopù</span>
				<span>Backend Developer</span>
				<ul>
					<li><span class="icon-linkedin linkedin"></span></a></li>
					<li><a href="#"><span class="icon-twitter twitter "></span></a></li>
					<li><a href="#"><span class="icon-facebook facebook "></span></a></li>
					<li><a href="#"><span class="icon-github github "></span></a></li>
				</ul>
			</div>
			<div class="yetMenber">
				<img alt="Yetsu S.A.C " src="images/skeiter9-omar-lozada-phone.jpg"/>
				<a href="https://twitter.com/skeiter9">@Zio691</a>
				<span>Yovanny Romero </span>
				<span>Design Team</span>
				<ul>
					<li><span class="icon-linkedin linkedin"></span></a></li>
					<li><a href="#"><span class="icon-twitter twitter "></span></a></li>
					<li><a href="#"><span class="icon-facebook facebook "></span></a></li>
					<li><a href="#"><span class="icon-github github "></span></a></li>
				</ul>
			</div>
			
			
		</div>

	</section>
	<section class="bck briefcase">
		<h2>Portafolio</h2>
		<span class="icon-briefcase icon-2x"></span>
		<div class="row">
			<figure>
				<h3>CONSAMA S.A.C</h3>
				<img src="images/consama.com.pe.jpg" alt="Consama S.A.C" />
			</figure>
		</div>
	</section>
	
	<section class="bck ubication">
		<h2 id="Ubicanos">Ubicanos</h2>
		<span class="icon-map-marker icon-2x"></span>
		<div class="row">
			<div>
				<address>
					Av. Pedro Vilchez Buendía #303 - Lambayeque
				</address>
				<div id="yetLocal"></div>	
			</div>
		</div>
	</section>
	<section class="bck contact">
		<h2>Contactanos</h2>
		<span class="icon-comments icon-2x"></span>
		<div class="row text center">
			<div>
				<p>Nos puedes llamar al <a href="tel:+51996816752"><span class="icon-phone"></span>(#)996816752 </a></p>
			</div>
			<form action="#">
				<fieldset>
					<label for="nombre">Nombre: </label>
					<input type="text" id="nombre" required placeholder="Nombre"  />
					<label for="email">Email: </label>
					<input type="email" id="email" required placeholder="Email" title="Debe ingresar un email válido" />
					<label for="mensaje" required >Mensaje: </label>
					<textarea name="mensaje" id="mensaje" placeholder="Mensaje" required ></textarea>
					<button>Enviar</button>
				</fieldset>
			</form>
		</div>
	</section>
	
	<footer>
		<h2>YETSU S.A.C</h2>
		<h3>@YetsuPe</h3>
		<address>
			Lambayeque-Perú
		</address>
		<aside class="row">
			<h2 class="text color white">Encuentranos también en:</h2>
			<span class="icon-linkedin icon-2x"></span>
			<span class="icon-twitter icon-2x"></span>
			<span class="icon-facebook-sign icon-2x"></span>
			<span class="icon-foursquare icon-2x"></span>
			<span class="icon-pinterest icon-2x"></span>
			<span class="icon-youtube icon-2x"></span>
			<span class="icon-google-plus icon-2x"></span>
			<span class="icon-github icon-2x"></span>
		</aside>
	</footer>
	<script>
	document.write('<script src="js/lib/' +('__proto__' in {} ? 'zepto' : 'jquery-1.10.2') +'.js"><\/script>');
	</script>
	<script src="https://maps.googleapis.com/maps/api/js?v=3.10&key=AIzaSyBP3ZaMYVz0M19TaHkskzCYq-dncj2TxjI&sensor=true&language=es"></script>
	<script src="js/lib/underscore.js"></script>
	<script src="js/lib/backbone.js"></script>
	<script src="js/lib/quo.js"></script>
	<script src="js/lib/picturefill.js"></script>
	<script src="js/lib/modernizr.css3DTransform.js"></script>
	<script src="js/lib/modernizr.fontFace.js"></script>

	<script src="js/mvc/yetsu.models.js"></script>
	<script src="js/mvc/yetsu.collections.js"></script>
	<script src="js/mvc/yetsu.views.js"></script>
	<script src="js/mvc/yetsu.controllers.js"></script>
	<script>
	document.write('<script src="js/' +('__proto__' in {} ? 'yetsu' : 'yetsu-old') +'.js"><\/script>');
	</script>
</body>
</html>