<!doctype html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Yetsu | Tecnología para tu empresa</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />   
	<meta name="description" content="YETSU S.A.C" />
	<meta name="author" content="@YetsuPe, @Skeiter9" />

   	<link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans' rel='stylesheet' type='text/css'>
	<script src="http://use.edgefonts.net/actor.js"></script>  	

  	<link rel="stylesheet" href="css/normalize.css" />
  	<link rel="stylesheet" href="css/scaffolding.css" />
  	<link rel="stylesheet" href="css/font-awesone.css" />
	<link rel="stylesheet" href="css/grid.css" />
	<link rel="stylesheet" href="css/type.css" />
	<link rel="stylesheet" href="css/theme.css" />
	<link rel="stylesheet" href="css/theme-yetsu.css" />

	<link rel="shortcut icon" href="images/yetsu-favicon.ico" />

</head>
<body class="menu-push">
	<!-- IE<9 -->
	<!--[if lt IE 9]>
		<script type="text/javascript" src="js/lib/html5shiv.js"></script>
		<script type="text/javascript" src="js/lib/rem.min.js"></script>
		<script type="text/javascript" src="js/lib/respond.min.js"></script>
	<![endif]-->
	<nav role="navigation" class="menu menu-vertical menu-left" id="nav">
		<img src="images/yetsu-logo-pc.png" alt="Logo Yetsu" />
		<a href="#Inicio"><span class="icon-home"></span> Inicio </a>
		<a href="#Nosotros"><span class="icon-group"></span> Nosotros </a></a>
		<a href="#Portafolio"><span class="icon-briefcase"></span> Portafolio </a>
		<a href="#Ubicanos"><span class="icon-map-marker"></span> Ubícanos </a>
		<a href="#Cursos"><span class="icon-book"></span> Cursos </a>
		<a href="#Blog"><span class="icon-archive"></span> Blog </a>
		<a href="#Contactanos"><span class="icon-comments"></span> Contáctanos </a>
	</nav>
	<header role="header" id="header" class="bck-dark">
		<a href="#nav" id="showMenu"><span class="icon-reorder"></span></a>
		<img src="images/yetsu-logo-pc.png" alt="Logo @YetsuPe">
		<h1>YETSU</h1>
	</header>
	
	<!-- SLIDER -->
	<div id='yetSlider' class='swipe'>
		 <div class='swipe-wrap'>
			<div class="bck-sky-blue">
				<div class="row">
					<div class="hide-xs col-lg-1 col-md-1 col-sm-2 col-lg-offset-1 bck-dark-light text-center color-white padding-bottom icon-portada">
						<span class="icon-html5 icon-4x"></span>	
					</div>
					<div class="col-xs-12 col-lg-8 col-md-10 col-sm-8 text-center  margin-top">
						<h2>DIPLOMADO EN DISEÑO Y DESARROLLO WEB FRONTEND</h2>
					</div>
					<div class="hide-xs col-lg-1 col-md-1  col-sm-2 bck-dark-light text-center color-white padding-bottom icon-portada">
						<span class="icon-css3 icon-4x"></span>	
					</div>
				</div>
				<div class="row">
					
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 table-portada text-center">
						<dl>
							<dt>Duración</dt>
							<dd>2meses (Solo Sábados)</dd>
						</dl>
						<dl>
							<dt>Inicio : </dt>
							<dd>19 de octubre</dd>
						</dl>
						<dl>
							<dt>Horario:</dt>
							<dd>2pm - 7pm</dd>
						</dl>
						<dl>
							<dt>Matrícula:</dt>
							<dd>S/30.00</dd>
						</dl>
						<dl>
							<dt>Mensualidad:</dt>
							<dd>S/150.00</dd>
						</dl>
						<dl>
							<dt>Lugar:</dt>
							<dd>Lab º3 FICSA - UNPRG</dd>
						</dl>

					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-lg-12 text-center bck-orange color-white padding-small">
						<img src="images/portadas/ninja.png" alt="" class="ninja-portada">
						YETSU S.A.C.        -         INSCRIPCIONES: Av. Pedro Vilchez Buendía #303         -         INFORMES: cursos@yetsu.com         -         TELÉFONO: 074-601972 
					</div>
				</div>
				<div class="row text-center margin-top">
					<a href="#" class="button button-orange padding">Más Detalles</a>
				</div>
			</div>
			<div>
				<div class="row">
					<img src="images/portadas/webinars-yetsu.jpg" alt="" class="img-responsive img-center">
				</div>
			</div>
		</div>
		<span class="icon-chevron-left" id="yetSlider-arrow-left" onclick='mySwipe.prev()'></span>
	  	<span class="icon-chevron-right" id="yetSlider-arrow-right" onclick='mySwipe.next()'></span>
	</div>

	<section role="services">
		<div class="container">
			<div class="row margin-top">
				<div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 text-center">
					<a href="#">
						<picture alt="Diseño y desarrollo de Páginas web" class="service-image padding-top padding-bottom radius bck-theme">
							<source src="images/icons/paginas-web-xsmall.png">
							<source src="images/icons/paginas-web-small.png" media="(min-width: 480px)">
							<source src="images/icons/paginas-web-medium.png" media="(min-width: 992px)">
							<source src="images/icons/paginas-web-large.png" media="(min-width: 2200px)">
							<noscript><img src="images/icons/paginas-web-small.png" alt="Diseño y desarrollo de Páginas web"></noscript>
							<!--[if (lt IE 9) & (!IEMobile)]>
					            <img src="images/icons/paginas-web-medium.png" alt="Diseño y desarrollo de Páginas web">
					        <![endif]-->
						</picture>
						<h2 class="h6 service-item">Páginas Web</h2>
					</a>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 text-center">
					<a href="#">
						<picture alt="icono cursos" class="service-image padding-top padding-bottom radius bck-orange">
							<source src="images/icons/cursos-xsmall.png">
							<source src="images/icons/cursos-small.png" media="(min-width: 480px)">
							<source src="images/icons/cursos-medium.png" media="(min-width: 992px)">
							<source src="images/icons/cursos-large.png" media="(min-width: 2200px)">
							<noscript><img src="images/icons/cursos-small.png" alt="icono cursos"></noscript>
						</picture>
						<h2 class="h6 service-item">Cursos</h2>
					</a>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-4 col-xs-6  text-center">
					<a href="#">
						<picture alt="Icono Emarketing" class="service-image padding-top padding-bottom radius bck-yellow">
							<source src="images/icons/emarketing-xsmall.png">
							<source src="images/icons/emarketing-small.png" media="(min-width: 480px)">
							<source src="images/icons/emarketing-medium.png" media="(min-width: 992px)">
							<source src="images/icons/emarketing-large.png" media="(min-width: 2200px)">
							<noscript><img src="images/icons/emarketing-small.png" alt="Icono Emarketing"></noscript>
						</picture>
						<h2 class="h6 service-item">Emarketing</h2>
					</a>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-4 col-xs-6  text-center">
					<a href="#">
						<picture alt="Icono Consultoría TI" class="service-image padding-top padding-bottom radius bck-purple">
							<source src="images/icons/consultoria-ti-xsmall.png">
							<source src="images/icons/consultoria-ti-small.png" media="(min-width: 480px)">
							<source src="images/icons/consultoria-ti-medium.png" media="(min-width: 992px)">
							<source src="images/icons/consultoria-ti-large.png" media="(min-width: 2200px)">
							<noscript><img src="images/icons/consultoria-ti-small.png" alt="Icono Consultoría TI"></noscript>
						</picture>
						<h2 class="h6 service-item">Consultoría TI</h2>
					</a>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-4 col-xs-6  text-center">
					<a href="#">
						<picture alt="icono Aplicaciones Mobiles" class="service-image padding-top padding-bottom radius bck-green">
							<source src="images/icons/aplicaciones-mobiles-xsmall.png">
							<source src="images/icons/aplicaciones-mobiles-small.png" media="(min-width: 480px)">
							<source src="images/icons/aplicaciones-mobiles-medium.png" media="(min-width: 992px)">
							<source src="images/icons/aplicaciones-mobiles-large.png" media="(min-width: 2200px)">
							<noscript><img src="images/icons/aplicaciones-mobiles-small.png" alt="icono Aplicaciones Mobiles"></noscript>
						</picture>
						<h2 class="h6 service-item">Aplicaciones Mobiles</h2>
					</a>
				</div>
				
				<div class="col-lg-2 col-md-4 col-sm-4 col-xs-6  text-center">
					<a href="#">
						<picture alt="icono Sistemas Informáticos" class="service-image padding-top padding-bottom radius bck-dark-light">
							<source src="images/icons/sistemas-informaticos-xsmall.png">
							<source src="images/icons/sistemas-informaticos-small.png" media="(min-width: 480px)">
							<source src="images/icons/sistemas-informaticos-medium.png" media="(min-width: 992px)">
							<source src="images/icons/sistemas-informaticos-large.png" media="(min-width: 2200px)">
							<noscript><img src="images/icons/sistemas-informaticos-small.png" alt="icono Sistemas Informáticos"></noscript>
						</picture>
						<h2 class="h6 service-item">Sistemas Informáticos</h2>
					</a>
				</div>
			</div>
		</div>
	</section>
	<section role="service-Paginas-web" class="service">
		<div class="container border-pw">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2 class="h1">Páginas Web</h2>
				</div>
			</div>
			<div class="row">
				<div class="text-center col-lg-9 col-md-8 col-sm-6 relative relative-top-2">
					<p> 
						Contamos con un equipo multidisciplinario de profesionales que aborda cada área del desarrollo web. Garantizamos un correcto desarrollo de sitios web con altos estándares de Cálidad . Garantizamos la optimización de su Website tanto para motores de busqueda <strong>SEO</strong> así como también para todos las resoluciones de pantalla de los diferentes dispositivos <strong>REPONSIVE WEB DESIGN</strong> (Smartphones,Tablets,etc.).
					</p>
					<p> 
						Ante todo primero analizamos sus requirimientos y recibimos todas sus ideas, luego le ayudamos ha estructuralas y asesorarlo en las mejores opciones según sus necesidades, garantizamos siempre estar en contacto con ud y escuchar todas sus propuestas y reslver sus dudas, todos nuestros diseños web son exclusivos, pensados en las necesidades puntuales de cada cliente.
					</p>
					<div class="row margin-top">
						<a href="#" class="button-service col-lg-offset-1 col-lg-4">Cotiza tu proyecto</a>
						<a href="#" class="button-service col-lg-offset-1 col-lg-4">Trabajos Anteriores</a>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 text-center">
					<picture alt="Diseño y desarrollo de Páginas web" class="service-pic">
						<source src="images/icons/paginas-web-xsmall.png">
						<source src="images/icons/paginas-web-small.png" media="(min-width: 480px)">
						<source src="images/icons/paginas-web-medium.png" media="(min-width: 992px)">
						<source src="images/icons/paginas-web-large.png" media="(min-width: 1400px)">
						<noscript><img src="images/icons/paginas-web-small.png" alt="Diseño y desarrollo de Páginas web"></noscript>
					</picture>
					
				</div>
					
			</div>
			<div class="row margin-top-2">
				<div class="col-lg-offset-1 col-lg-2 col-md-4 text-center">
					<span class="icon-cogs icon-3x"></span>
					<h3 class="h6">Optimización SEO</h3>
				</div>
				<div class="col-lg-2 col-md-4 text-center">
					<span class="icon-gittip icon-3x"></span>
					<h3 class="h6">Diseño Atractivo</h3>
				</div>
				<div class="col-lg-2 col-md-4 text-center">
					<span class="icon-bar-chart icon-3x"></span>
					<h3 class="h6">Monitorización de tráfico</h3>
				</div>
				<div class="col-lg-2 col-md-4 text-center">
					<span class="icon-html5 icon-3x"></span>
					<h3 class="h6">Adaptable a cualquier dispositivo (RWD)</h3>
				</div>
				<div class="col-lg-2 col-md-4 text-center">
					<span class="icon-smile icon-3x"></span>
					<h3 class="h6">Fácil navegación</h3>
				</div>

			</div>
			<!--
			<div class="row padding-top para bck-parallax pw" >
				<ul  class="container-parallax" id="parallax-bg-1">
					<li class="layer col-lg-4 col-lg-offset-4 parallax-item-ninja" data-depth="0.4">
						<img src="images/ninja/ninja.png" class="parallax-bg">
					</li>
				</ul>
			</div>
			-->
		</div>
	</section>
	<section role="service-Cursos" class="service">
		<div class="container border-co">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2 class="">Cursos</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 text-center">
					<picture alt="icono cursos" class="service-pic">
						<source src="images/icons/cursos-xsmall.png">
						<source src="images/icons/cursos-small.png" media="(min-width: 480px)">
						<source src="images/icons/cursos-medium.png" media="(min-width: 992px)">
						<source src="images/icons/cursos-large.png" media="(min-width: 1400px)">
						<noscript><img src="images/icons/cursos-small.png" alt="icono cursos"></noscript>
					</picture>
				</div>
				<div class="col-lg-8">
					<p class="text-center"> 
						Ofrecemos cursos de formación profesional en <strong> Desarrollo de software</strong>.
						Nuestros cursos están pensados para brindarte un aprendizaje integral y de vanguardía en desarrollo de software según los requerimientos cada vez más competitivos del mercado actual.</p>
					<p class="text-center"> 
						Te damos verdaderas técnicas y recursos profesionales de diseño web que te permiten resolver las diferentes áreas y tareas de la programación de un modo eficaz según programación  con estandartes SEO, creaciones de <strong>UI</strong> impactantes para brindar <strong>UX</strong> óptimas.
						Te brindamos un equipo de docentes especializados con las nuevas tecnologías tanto de <strong>FrontEnd</strong> y <strong>Backend</strong>. en @YetsuPe contamos con personal en constante práctica y mejora continua.
					</p>
				</div>
			</div>
			<div class="row padding-top">
				<div class="col-lg-2 col-md-4 text-center">
					<span class="icon-html5 icon-3x"></span>
					<h3 class="h6">Optimización SEO</h3>
				</div>
				<div class="col-lg-2 col-md-4 text-center">
					<span class="icon-gittip icon-3x"></span>
					<h3 class="h6">Diseño Atractivo</h3>
				</div>
				<div class="col-lg-2 col-md-4 text-center">
					<span class="icon-thumbs-up icon-3x"></span>
					<h3 class="h6">Asesoriamento en Social Medía</h3>
				</div>
				<div class="col-lg-2 col-md-4 text-center">
					<span class="icon-bar-chart icon-3x"></span>
					<h3 class="h6">Monitorización de tráfico</h3>
				</div>
				<div class="col-lg-2 col-md-4 text-center">
					<span class="icon-html5 icon-3x"></span>
					<h3 class="h6">Adaptable a cualquier dispositivo (RWD)</h3>
				</div>
				<div class="col-lg-2 col-md-4 text-center">
					<span class="icon-smile icon-3x"></span>
					<h3 class="h6">Fácil navegación</h3>
				</div>
			</div>
			<!--
			<div class="row margin-top">
				<div class="col-lg-12">
					<h3 class="h2 margin-top text-center margin-bottom-2"> Diplomado en Diseño y Desarrollo Web FrontEnd </h3>
					<div class="row">
						<div class="col-lg-12">
							<img src="images/IIYetCurso.jpg" alt="" class="img-responsive radius">
						</div>
					</div>
					<div class="row">
						<div class="col-lg-9 font-0">
							<dl>
								<dt>Duración</dt>
								<dd>2meses (Solo Sábados)</dd>
							</dl>
							<dl>
								<dt>Inicio : </dt>
								<dd>19 de octubre</dd>
							</dl>
							<dl>
								<dt>Horario:</dt>
								<dd>2pm - 7pm</dd>
							</dl>
							<dl>
								<dt>Matrícula:</dt>
								<dd>S/30.00</dd>
							</dl>
							<dl>
								<dt>Mensualidad:</dt>
								<dd>S/150.00</dd>
							</dl>
						</div>
						<div class="col-lg-3">
							<a href="#Syllabus" class="button">Ver syllabus</a>
							<a href="#Registrarse" class="button">Registarse al Curso</a>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<p class="text-justify">
								Te encanta la web, te gusta la tecnología y quieres aportar al mundo de desarrolladores de la web, está es tu oportunidad de empezar y reforzar conocimientos, te enseñaremos y daremos las herramientas necesarias para ser un Jedi del desarrollo web, Te ofrecemos HTML5, CSS3, Js y más temas de la web.
							</p>
							<p class="text-justify">
								Tanto la teoría como empezar a implementarlo teniendo en cuenta buenas practicas de FrontEnd.
							</p>
						</div>
					</div>
					
					<div class="row margin-top">
						<h5 class="text-center h4">Contenido del Curso</h5>
					</div>
					<div class="row">
						<div class="col-lg-3 ">
							<h6 class="h5 text-center">Semana 1</h6>
							<ul>
								<li>Fundamentos de la web  </li>     
								<li>Conociendo html5</li>
								<li>Semántica html5  </li>
								<li>Unidades de Medida</li>
								<li>Creando nuestro workflow </li>
								<li>Maquetación web Básica </li>
								<li>Control de versiones en Proyectos web </li>
								<li>Git /github/bitbucket </li>
								<li>Ejercicios </li>
							</ul>
						</div>
						<div class="col-lg-3">
							<h6 class="h5 text-center">Semana 2 </h6>
							<ul>
								<li>Fundamentos CSS </li>
								<li>Propiedades CSS </li>
								<li>Selectores CSS </li>
								<li>Sprites, Fuentes y tipografías font-face </li>
								<li>Formularios </li>
								<li>Compatibilidad entre navegadores   </li>
								<li>Polyfills </li>
								<li>Creando componentes web (botones, menus, asides,footer,etc) </li>
								<li>Animaciones, transiciones </li>
								<li>Ejercicios </li>
							</ul>
						</div>
						<div class="col-lg-3">
							<h6 class="h5 text-center">Semana 3 </h6>
							<ul>
								<li>Tema: Fundamentos de Javascript</li>
								<li>Jugando con el DOM via javascript</li>
								<li>Buenas prácticas en Javascript</li>
								<li>Conociendo Recursos y Herramientas</li>
								<li>ejercitandose con zepto.js y jquery</li>
								<li>Creación de Plugin Javascript (SlideShow)</li>

							</ul>
						</div>
						<div class="col-lg-3">
							<h6 class="h5 text-center">Semana 4 </h6>
							<ul>
								<li>Entendiendo UI y UX</li>
								<li>Multimedia HTML5 (video, audio, svg, canvas)  </li>
								<li>Api Web storage  </li>
								<li>Api Geolocalizacion  </li>
								<li>Api Off-line Storage</li>
								<li>Ejercicio: Creacion Audio Player con html5</li>

							</ul>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-3">
							<h6 class="h5 text-center">Semana 5 </h6>
							<ul>
								<li>Responsive web design  </li>
								<li>Responsive images</li>
								<li>Maquetación web con css3 y buenas Prácticas</li>
								<li>Preprocesadores CSS</li>
								<li>programando en CSS (less, stylus)  </li>
								<li>Ejercicio: Creando nuestro propio Framework CSS</li>

							</ul>
						</div>
						<div class="col-lg-3">
							<h6 class="h5 text-center">Semana 6 </h6>
							<ul>
								<li>Frameworks FrontEnd (Bootstrap y tuktuk)</li>
								<li>Presentaciones con Impress.js (Diapositivas en html5)</li>
								<li>Eventos Touch</li>
								<li>Quo.js</li>
								<li>Ejercicio: Construyendo un blog.</li>

							</ul>
						</div>
						<div class="col-lg-3">
							<h6 class="h5 text-center">Semana 7 </h6>
							<ul>
								<li>Fundamentos Mv* en Javascript     </li>   
								<li>Backbone Js </li>
								<li>Creando efectos parallax </li>
								<li>Entornos de trabajo (Yeoman, Clay)   </li>
								<li>Creación de un Landing One Page </li>
							</ul>
						</div>
						<div class="col-lg-3">
							<h6 class="h5 text-center">Semana 8 </h6>
							<ul>
								<li>Repaso general</li>
								<li>reestructurando nuestro workflow</li>
								<li>Control de versiones avanzado.</li>
								<li>Deploy de una aplicación en github pages</li>
								<li>Sustentación proyecto final.</li>
								<li>Clausura y entrega de polos Html5.</li>

							</ul>
						</div>
					</div>

					<div class="row margin-top">
						<div class="col-lg-4" >
							<h5 class="h4 text-center">Lugar: Lab º 3 FICSA-UNPRG</h5>
							<div id="map-ficsa"></div>
						</div>
						<div class="col-lg-8">
							<h5 class="h4 text-center"> Docente </h5>
							<p class="text espaced col-lg-8">Estudiante de Ingenieria de Sistemas de la UNPRG, Delegado Pleno De la UNPRG ante 
				                <a href="http://apeisc.org">APEISC</a>,
				                miembro Colaborador de La Fundaciòn<a href="mozilla.pe"> Mozilla en PERÚ</a>,
				                mienbro de PLUG ha participado dando talleres y charlas en USAT,UNPRG y UAP - Chiclayo
				                actual Presidente De CADIS - Círculo de Investigacion de la EPIS-UNPRG,
				                Miembro oficial Internacional de la Comunidad de Ubuntu.
				            </p>
				            <img src="images/@Skeiter9.jpg" alt="" class="col-lg-4">
							--<a href="#" class="button">Descargar Syllabus</a>--
						</div>
						
					</div>
				</div>
			</div>
			-->
			<!--
			<div class="row">
				<div class="col-lg-12">
					<h3 class="text-center">Cursos Anteriores</h3>
				</div>
				<div class="col-lg-4">
					<img src="images/I-Curso-Yetsu.jpg" alt="" class="img-responsive radius margin-top">
				</div>
				<table class="col-lg-4">
						<tr>
							<td>Fecha:</td>
							<td>9 de Marzo del 2013</td>
						</tr>
						<tr>
							<td>duración:</td>
							<td>2 meses</td>
						</tr>
						<tr>
							<td>Lugar:</td>
							<td>Lab º3 FICSA-UNPRG</td>
						</tr>
				</table>
				<div class="col-lg-4">
					<a href="#" class="button">Ver Syllabus</a>
					<a href="#" class="button">Ver Material</a>
				</div>
			</div>
			-->
		</div>
	</section>
	<section role="service-Emarketing" class="service">
		<div class="container border-em">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2>E-Marketing</h2>
				</div>
			</div>
			<div class="row">
				<p class="text-center col-lg-8 col-md-8 col-sm-6 relative relative-top-3">
					Te ayudamos a conectar con tus clientes en las Redes Sociales, generar más visitas a tu blog/web generando valor de marca, posicionando tu marca entre las mejores en tu rubro, Internet nos da la ventaja de llegar a todo el mundo, nosotros te ayudaremos a realizar una campaña publicitaria digital de una manera efectiva y con resultandos.
				</p>
				<picture alt="Diseño y desarrollo de Páginas web" class="service-pic col-lg-4 col-md-4 col-sm-6 col-xs-6 text-center">
					<source src="images/icons/paginas-web-xsmall.png">
					<source src="images/icons/paginas-web-small.png" media="(min-width: 480px)">
					<source src="images/icons/paginas-web-medium.png" media="(min-width: 992px)">
					<source src="images/icons/paginas-web-large.png" media="(min-width: 1400px)">
					<noscript><img src="images/icons/paginas-web-small.png" alt="Diseño y desarrollo de Páginas web"></noscript>
				</picture>
			</div>
		</div>
	</section>
	<section role="service-Consultoria-Ti" class="service">
		<div class="container border-ct">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2>Consultoría TI</h2>
				</div>
			</div>
			<div class="row">
				
				<picture alt="Diseño y desarrollo de Páginas web" class="service-pic col-lg-4 col-md-4 col-sm-6 col-xs-6 text-center">
					<source src="images/icons/paginas-web-xsmall.png">
					<source src="images/icons/paginas-web-small.png" media="(min-width: 480px)">
					<source src="images/icons/paginas-web-medium.png" media="(min-width: 992px)">
					<source src="images/icons/paginas-web-large.png" media="(min-width: 1400px)">
					<noscript><img src="images/icons/paginas-web-small.png" alt="Diseño y desarrollo de Páginas web"></noscript>
				</picture>
				<p class="text-center col-lg-8 col-md-8 col-sm-6">
					La asesoría permite conocer al detalle las particularidades del entorno TI ante un proyecto.
Antes de un cambio importante en el departamento de TI debe hacerse un estudio detallado. YETSU brinda servicio de consultoría con el que obtendrás:
La información necesaria para que diferentes departamentos valoren la viabilidad del proyecto a realizar, desde diferentes puntos de vista: el técnico, el económico, el formativo, etc.
La posibilidad de conocer la implicación de un cambio en el entorno TI de tu empresa y organizarlo en diferentes fases.
Las ventajas de saber qué resultados se deben esperar del proyecto a realizar y poder así evaluar la consecución final de los objetivos.
Un estudio personalizado proporciona unos datos objetivos muy interesantes, con los cuales sabrás:
Cómo debe realizarse el proyecto de mejora del entorno TI.
Cuánto tiempo debe invertirse en realizarse el proyecto.
Qué coste económico supondrá.
Cómo afectará a las actuales instalaciones.
El servicio de consultoría es la mejor forma de valorar el grado de urgencia y de efectividad que supondrá la ejecución de un proyecto TI.
				</p>
			</div>
		</div>
	</section>
	<section role="service-Aplicaciones-Mobiles" class="service">
		<div class="container border-am">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2>Aplicaciones Mobiles</h2>
				</div>
			</div>
			<div class="row">
				<p class="text-center col-lg-8 col-md-8 col-sm-6">
					En los últimos años, la llegada de smartphones ha multiplicado exponencialmente la cantidad de tráfico móvil. En un futuro, las aplicaciones móviles irán desbancando las páginas Web en versión tradicional. La proliferación de dispositivos móviles lo ha cambiado todo, no sólo la manera de comunicarnos, sino también nuestra forma de trabajar, comprar, vender y relacionarnos.
							Está claro que la empresa que antes se suba al carro contará con ventaja en este nuevo mercado. YETSU te ofrece diversos tipos de aplicaciones desarrolladas para todas las plataformas, así como asesoramiento para decidir qué tipo de app funcionará mejor según los objetivos de tu empresa:</p>
							<ul class="list">
								<li>Aplicaciones móviles para corporativas</li>
								<li>Aplicaciones móviles multimedia</li>
								<li>Juegos corporativos o de ocio</li>
							</ul>
				<picture alt="Diseño y desarrollo de Páginas web" class="service-pic col-lg-4 col-md-4 col-sm-6 col-xs-6 text-center">
					<source src="images/icons/paginas-web-xsmall.png">
					<source src="images/icons/paginas-web-small.png" media="(min-width: 480px)">
					<source src="images/icons/paginas-web-medium.png" media="(min-width: 992px)">
					<source src="images/icons/paginas-web-large.png" media="(min-width: 1400px)">
					<noscript><img src="images/icons/paginas-web-small.png" alt="Diseño y desarrollo de Páginas web"></noscript>
				</picture>
			</div>
		</div>
	</section>
	<section role="service-Sistemas-informaticos" class="service">
		<div class="container border-si">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2>Sistemas Informáticos</h2>
				</div>
			</div>
			<div class="row">
				
				<picture alt="Diseño y desarrollo de Páginas web" class="service-pic col-lg-4 col-md-4 col-sm-6 col-xs-6 text-center">
					<source src="images/icons/paginas-web-xsmall.png">
					<source src="images/icons/paginas-web-small.png" media="(min-width: 480px)">
					<source src="images/icons/paginas-web-medium.png" media="(min-width: 992px)">
					<source src="images/icons/paginas-web-large.png" media="(min-width: 1400px)">
					<noscript><img src="images/icons/paginas-web-small.png" alt="Diseño y desarrollo de Páginas web"></noscript>
				</picture>
				<p class="text-center col-lg-8 col-md-8 col-sm-6">
					Una página web puede estar integrada con un sistema web dinámico, por ejemplo un sistema web para una comunidad en línea o el sistema web para una tienda virtual o un sistema web donde las personas puedan realizar un registro en el cual puedan publicar la venta de su casa con imágenes o sistemas web para la organización de eventos etc. una página web integrada con un sistema Web adecuado con el factor mercadotecnia y posicionamiento en buscadores sería inmensamente poderoso para generar ventas y poder generar interés en sus clientes, por ejemplo podemos tener un sistema web donde las personas venden sus autos y usted se dedica a la venta de accesorios mecánicos para autos
Este sería una gran oportunidad para ofrecer sus servicios ya que la página web tendría un tráfico constante de clientes navegando en su página web, ya sea nuevos usuarios que accedieron a su página web gracias al posicionamiento web y los otros usuarios que se quedaron buscando en su página web navegando en búsqueda de la compra de un auto o vender su auto.
				</p>
			</div>
		</div>
	</section>

	<section class="para margin-top bck-parallax tumbas-reales" >
		<!--<ul  class="container-parallax" id="parallax-bg-1">
			<li class="layer parallax" data-depth="1.00">
				<img src="images/backgrounds/museo-tumbas-reales-senor-de-sipan.jpg" class="parallax-bg">
			</li>
		</ul>
		<ul  class="container-parallax" id="parallax-item-1">
			<li class="layer parallax" data-depth="1.80">
				<img src="images/backgrounds/manos.png">
			</li>
		</ul>-->

		<div class="container margin-top">
		
					<div class="row">
						<div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
							<div class="menber">
								<img src="images/team/omar-lozada-Skeiter9.jpg" alt="@Skeiter9" />
								<div class="caption">
									<h3>Omar Lozada</h3>
									<h4>@Skeiter9</h4>
									<h5>CTO</h5>
								</div>
							</div>
						</div>
						<div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
							<div class="menber">
								<img src="images/team/omar-lozada-FioriAs.jpg" alt="@Skeiter9" />
								<div class="caption">
									<h3>Fiorella Aquino</h3>
									<h4>@FioriAs</h4>
									<h5>CEO</h5>
								</div>
							</div>
						</div>
						<div class="col-xs-6 col-sm-3 col-md-3 col-lg-offset-4 col-lg-2">
							<div class="menber">
								<img src="images/team/foto.jpg" alt="@Skeiter9" />
								<div class="caption">
									<h3>Cesar Altamirano</h3>
									<h4>@Altamiranocs</h4>
									<h5>Senior Developer</h5>
								</div>
							</div>
						</div>
						<div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
							<div class="menber">
								<img src="images/team/foto.jpg" alt="@Skeiter9" />
								<div class="caption">
									<h3>Ivan Uriarte</h3>
									<h4>@Pilmee</h4>
									<h5>Backend Developer</h5>
								</div>
							</div>
						</div>
					</div>
					<div class="row margin-top-6 padding-bottom">
						<div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
							<div class="menber">
								<img src="images/team/foto.jpg" alt="@Skeiter9" />
								<div class="caption">
									<h3>Javier Bancayan</h3>
									<h4>@JavierBancayan</h4>
									<h5>Bussiness Advisor</h5>
								</div>
							</div>
						</div>
						<div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
							<div class="menber">
								<img src="images/team/foto.jpg" alt="@Skeiter9" />
								<div class="caption">
									<h3>Fiorella Aquino</h3>
									<h4>@FioriAs</h4>
									<h5>CEO</h5>
								</div>
							</div>
						</div>
						<div class="col-xs-6 col-sm-3 col-md-3 col-lg-offset-4 col-lg-2">
							<div class="menber">
								<img src="images/team/foto.jpg" alt="@Skeiter9" />
								<div class="caption">
									<h3>Cesar Altamirano</h3>
									<h4>@Altamiranocs</h4>
									<h5>Senior Developer</h5>
								</div>
							</div>
						</div>
						<div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
							<div class="menber">
								<img src="images/team/foto.jpg" alt="@Skeiter9" />
								<div class="caption">
									<h3>José Coronel</h3>
									<h4>@Jocar_5</h4>
									<h5>Design Leader</h5>
								</div>
							</div>
						</div>
						
					</div>
				</div>
	</section>

	<section id="Contactanos">
		<h2 class="text-center">Contáctanos</h2>
		<div class="container">
			<blockquote class="text-center">
				¿Necesitas posicionar tu marca, producto o servicio en internet mediante un sitio web novedoso y atractivo para tus clientes?
			</blockquote>
			<p class="text-center"> LLega la solución perfecta para ti y tu empresa: YETSU. No dudes en contactarnos.</p>
		</div>
		<div id="yetLocal"></div>
		<div class="container">

			<div class="row">
				
				<div class="col-lg-6">
					<div class="row">
						<form action="#" class="col-lg-12">
							<input type="text" placeholder="Nombre" data-icon="user">
							<input type="email" placeholder="Email" data-icon="email">
							<input type="tel" placeholder="Teléfono" data-icon="phone">
							<textarea name="" id="" rows="5" placeholder="Explícanos que necesitas" data-icon="message"></textarea>
							<button>Enviar Mensaje</button>
						</form>
					</div>
				</div>
				<div class="col-lg-6">
					<p class="color-theme"><span class="icon-contact icon-phone"></span>(+51) 074 - 601972</p>
					<p class="color-theme"><span class=" icon-contact icon-envelope-alt"></span>info@yetsu.com</p>
					<address class="color-theme"><span class="icon-contact icon-building"></span>Av. Pedro vilchez buendía #303 | Lambayeque- Perú</address>

					<dl class="horary">
						<dt>Horario de Atención</dt>

						<dt>Lunes - Viernes </dt>
						<dd>9:00 am - 1:00 pm <br/> 3:00 pm - 8:00 pm</dd>

						<dt>Sábados</dt>
						<dd>9:00 am - 1:00 pm</dd>

					</dl>
						
					
					
				</div>
			</div>
		</div>
	</section>
	<aside class="bck-dark-light">
		<div class="container padding-top padding-bottom">
			<div class="row">
				<div class="col-lg-4">
					<h2 class="text-center">YETSU S.A.C - @YetsuPe</h2>
					<p class="text-justify">
						Empresa dedicada al desarrollo de sistemas, páginas web, aplicaciones móviles y al adiestramiento en TI;
					</p>
					<p class="text-justify">
						Somos jóvenes amantes de la tecnología y apasionados al desarrollo de software. Ofrecemos desarrollo de software para la web y aplicaciones móbiles; como puntos extras podemos ofrecer asesoría en cuanto a marketing digital y adiestramiento en tecnologías web.
						Consideramos que todo software debe tener un buen diseño tanto de lado de Interfaces (FrontEnd) y ser muy robusto y eficiente de lado interno (Backend) 
					</p>
				</div>
				<div class="col-lg-4">
					<a class="twitter-timeline" height="350" href="https://twitter.com/YetsuPe"  data-widget-id="387018622477946881">Tweets by @YetsuPe</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


				</div>
				<div class="col-lg-4">
					<div class="bck-white fix-fb">
						<iframe src="https://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2FYetsuPe&amp;width=350&amp;height=340&amp;colorscheme=light&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=false" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:350px; height:340px;" allowTransparency="true"></iframe>
					</div>
					
				</div>
			</div>
		</div>
	</aside>
	<footer class="bck-dark">
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<h2>© 2013 @YetsuPe</h2>
				</div>
				<div class="col-lg-3">
					
				</div>
				<div class="col-lg-3">
					
				</div>
				<div class="col-lg-8">
					
				</div>
			</div>
		</div>
	</footer>

<script src="https://maps.googleapis.com/maps/api/js?v=3.10&key=AIzaSyBP3ZaMYVz0M19TaHkskzCYq-dncj2TxjI&sensor=true&language=es"></script>
<script src="js/lib/swipe.js"></script>
<script src="js/lib/picturefill.js"></script>
<script src="js/lib/classie.js"></script>
<script src="js/yetsu.js"></script>
</body>
</html>