<!doctype html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>YETSU</title>
	<link rel="stylesheet" href="css/normalize.css" />
  	<link rel="stylesheet" href="css/scaffolding.css" />
  	<link rel="stylesheet" href="css/font-awesone.css" />
	<link rel="stylesheet" href="css/grid.css" />
	<link rel="stylesheet" href="css/new.css" />
</head>
<body>
	<section class="yetsu">
		<div class="row">
			<div class="col-lg-2">
				<div class="service">
					<h2 class="h6 service-item">Páginas Web</h2>
					<img src="images/icons/paginas-web-medium.png" alt="Diseño y desarrollo de Páginas web" />
					<a href="#" class="button">	Más Detalles</a>
				</div>
				<div class="service">
					<h2 class="h6 service-item">Páginas Web</h2>
					<img src="images/icons/paginas-web-medium.png" alt="Diseño y desarrollo de Páginas web" />
					<a href="#" class="button">	Más Detalles</a>
				</div>
			</div>
			<div class="col-lg-8">
				
			</div>
		</div>
	</section>
</body>
</html>