picture{display:block}
.bck-theme{background-color:#66cbff}
.bck-white{background-color:#fff}
.bck-green{background-color:#34cc67}
.bck-green-light{background-color:#b3d01e}
.bck-blue{background-color:#00aed7}
.bck-orange{background-color:#f63;color:#fff}
.bck-yellow{background-color:#fc0}
.bck-purple{background-color:#96c}
.bck-sky-blue{background-color:#449bb6}
.bck-dark{background-color:#2c2c2c;color:#fff}
.bck-dark-light{background-color:#464646;color:#fff}
.color-theme{color:#66cbff}
#map-ficsa{height:10rem;border:2px solid #66cbff}
#yetLocal{height:15rem;border-bottom:2px solid #66cbff;border-top:2px solid #66cbff;margin-bottom:1rem}
html{font-size:75%;}
h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6{margin:0;text-rendering:optimizeLegibility;font-family:actor,sans-serif}
h1{font-size:1.5rem}
h2{font-size:1.25rem}
h3{font-size:1rem}
h4{font-size:.8rem}
h5{font-size:.6rem}
h6{font-size:.5rem}
.text-big{font-size:2.5rem}
@media only screen and (min-width:320px){html{font-size:81.25%;}}@media only screen and (min-width:480px){html{font-size:87.5%;}}@media only screen and (min-width:640px){html{font-size:100%;}}@media only screen and (min-width:960px){html{font-size:112.5%;}}@media only screen and (min-width:1440px){html{font-size:125%;}}.margin-none{margin:0}
.margin{margin:1rem}
.margin-left{margin-left:1rem}
.margin-right{margin-right:1rem}
.margin-top{margin-top:1rem}
.margin-top-2{margin-top:2rem}
.margin-top-4{margin-top:4rem}
.margin-bottom{margin-bottom:1rem}
.margin-bottom-4{margin-bottom:4rem}
.padding-none{padding:0}
.padding{padding:1rem}
.padding-left{padding-left:1rem}
.padding-right{padding-right:1rem}
.padding-top{padding-top:1rem}
.padding-bottom{padding-bottom:1rem}
.radius{border-radius:1rem}
.bck-parallax{background-attachment:fixed;background-position:50% 0;background-repeat:no-repeat;position:relative}
.tumbas-reales{background-image:url(../images/parallax/1.jpg)}
.pw{background:#66cbff no-repeat url(../images/parallax/pw.jpg) bottom center;min-height:450px}
.container-parallax{display:block}
.parallax{}
.parallax-item-ninja{position:relative;top:12rem !important}
[role="services"]{z-index:2}
.para{overflow:hidden}
.service-pic{position:relative;width:14rem;height:14rem;background-color:#fff;padding:3rem 1rem;-moz-border-radius:50%;-o-border-radius:50%;-webkit-border-radius:50%;-ms-border-radius:50%;border-radius:50%;border:.5rem solid #ccc;margin:0 auto}.service-pic>img{width:100%}
.service{padding:2rem 0 0 0}.service h2{padding:2rem 0 4rem 0}
.service .padding{padding:2rem}
.service .padding-left{padding-left:2rem}
.service .padding-right{padding-right:2rem}
.service .padding-top{padding-top:2rem}
.service .padding-bottom{padding-bottom:2rem}
.text-justify{text-align:justify}
.text-right{text-align:right}
.text-left{text-align:left}
blockquote{border:none;margin:0}
dl{width:100%;border:2px solid #66cbff;border-radius:.5rem;font-size:0}dl dt:first-child{width:100%;background-color:#66cbff;color:#fff;text-align:center}
dl dt,dl dd{display:inline-block;vertical-align:middle;font-size:1rem;width:50%;color:#66cbff;text-align:center}
.relative{position:relative}.relative .top{top:1rem}
.relative .top-3{top:3rem}
.button,button{padding:.5rem 1rem;background-color:#66cbff;border-radius:.5rem;border:none;color:#fff}
button{display:block;margin-left:auto;margin-right:auto;margin-bottom:1rem}
.float-left{float:left}
.float-right{float:right}
input[type="text"],input[type="email"],input[type="tel"],textarea{padding:.5rem 5px .5rem 45px;border-radius:.5rem;border:2px solid #66cbff;background-color:transparent;background-image:url(../images/icons/form.png);background-repeat:no-repeat;width:100%;margin-bottom:1rem}
::-webkit-input-placeholder{color:#66cbff;font-weight:bold}
:-moz-placeholder{color:#66cbff;font-weight:bold}
::-moz-placeholder{color:#66cbff;font-weight:bold}
:-ms-input-placeholder{font-weight:bold;color:#66cbff}
[data-icon="user"]{background-position:0 0}
[data-icon="email"]{background-position:0 -50px}
[data-icon="phone"]{background-position:0 -100px}
[data-icon="message"]{background-position:0 -150px}
.fix-fb{min-height:350px;border-radius:.2rem}
aside p{font-size:.8rem}
.icon-contact{background-color:#66cbff;border-radius:50%;color:#fff;display:inline-block;width:2rem;height:2rem;text-align:center;padding:.5rem;margin-right:.5rem}
