@import "variables-yetsu.less";
@import "variables.less";
/**************** reset ************/
picture{
  display: block;
}
/*************** backgrounds ******************/

.bck-theme{
  background-color: @COLOR_THEME  ;
}
.bck-white{
  background-color: @COLOR_WHITE  ;
}
.bck-green{
  background-color: @COLOR_GREEN    ;
}
.bck-green-light{
  background-color: @COLOR_GREEN_LIGHT  ;
}
.bck-blue{
  background-color: @COLOR_BLUE  ;
}
.bck-orange{
  background-color: @COLOR_ORANGE   ;
  color: @COLOR_WHITE;
}
.bck-yellow{
  background-color: @COLOR_YELLOW   ;
}
.bck-purple{
  background-color: @COLOR_PURPLE    ;
}
.bck-sky-blue{
  background-color: @COLOR_SKY_BLUE  ;
}
.bck-dark{
  background-color: @COLOR_DARK   ;
  color: @COLOR_WHITE;
}
.bck-dark-light{
  background-color: @COLOR_DARK_LIGHT   ;
  color: @COLOR_WHITE;
}
/*********************************** colors *********************************/
.color-theme{
  color: @COLOR_THEME;
}

/*************************************************  MAPS *****************************************************/
#map-ficsa{
  height: 10rem;
  border:2px solid @COLOR_THEME;
}
#yetLocal{
  height: 17rem;
  border-bottom:2px solid @COLOR_THEME;
  border-top:2px solid @COLOR_THEME;
  margin-bottom: @BASE-REM;
}
 

/************* responsive text ***************/
html{
  font-size: 75%; /*12px */
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6{
  margin: 0 ;
  text-rendering: optimizeLegibility;
  font-family: actor, sans-serif;
}
h1{
  font-size:2rem ;
}
h2{
  font-size:1.7rem;
} 
h3{
  font-size:@BASE-REM;
} 
h4{
  font-size:.8rem;
}
h5{
  font-size:.6rem;
}
h6{
  font-size:.5rem;
}
.text-big{
  font-size: 2.5rem;
}

@media only screen and (min-width: 320px){ 
  html{
    font-size: 81.25% ; /* 13px */
  }
}
@media only screen and (min-width: 480px){ 
  html{
    font-size: 87.5%  ; /* 14px */
  }
}
@media only screen and (min-width: 640px){ 
  html{
    font-size: 100%   ; /* 16px */
  }
}
@media only screen and (min-width: 960px){ 
  html{
    font-size: 112.5% ; /* 18px */
  }
}
@media only screen and (min-width: 1440px){ 
  html{
    font-size: 125%   ; /* 20px */
  }
}


.margin-none{  
  margin: 0;
}
.margin{  
  margin:  @BASE-REM;
}
.margin-left{  
  margin-left:  @BASE-REM;
}
.margin-right{  
  margin-right:  @BASE-REM;
}
.margin-top{  
  margin-top:  @BASE-REM;
}
.margin-top-2{  
  margin-top:  @BASE-REM*2;
}
.margin-top-4{  
  margin-top:  @BASE-REM*4;
}

.margin-bottom{  
  margin-bottom:  @BASE-REM;
}
.margin-bottom-2{  
  margin-bottom:  @BASE-REM*2;
}
.margin-bottom-4{  
  margin-bottom:  @BASE-REM*4;
}


.padding-none{  
  padding: 0;
}
.padding{  
  padding:  @BASE-REM;
}
.padding-left{  
  padding-left:  @BASE-REM;
}
.padding-right{  
  padding-right:  @BASE-REM;
}
.padding-top{  
  padding-top:  @BASE-REM;
}
.padding-bottom{  
  padding-bottom:  @BASE-REM;
}
.radius{
  border-radius: @BASE-REM;
}



/************************************* parallax ********************************/
.bck-parallax{
  background-attachment: fixed;
  background-position: 50% 0;
  background-repeat: no-repeat;
  //height: 450px;
  position: relative;
}
.tumbas-reales {
  background-image: url(../images/parallax/1.jpg);
}
.pw {
  background: no-repeat url(../images/parallax/pw.jpg) bottom center;
  min-height: 450px;
}

.container-parallax{
  display: block;
}
.parallax{
  /*display: block;
  width: 100%;*/
}
.parallax-item-ninja{
  position: relative;
  top: 12rem !important;
}
.parallax-bg{
 // width: 100%;
}

[role="services"]{
  z-index: 2;
}
.para{
  overflow: hidden;
}


/************** service pictures ***************/
.service-pic{
  position: relative;
  width: 14rem;
  height: 14rem;
  background-color: @COLOR_WHITE;
  padding: 3rem @BASE-REM;
  .border-radius-yetsu(50%);
  margin: 0 auto;
  & > img{
    width: 100%;
  }
}
.service{
  padding: 2rem 0 0 0;
  & h2:first-child{
    padding: 2rem 0 2rem 0;
  }
  .padding{  
  padding:  (@BASE-REM *2);
  }
  .padding-left{  
    padding-left:  (@BASE-REM *2);
  }
  .padding-right{  
    padding-right:  (@BASE-REM *2);
  }
  .padding-top{  
    padding-top:  (@BASE-REM *2);
  }
  .padding-bottom{  
    padding-bottom:  (@BASE-REM *2);
  }
}
.text-justify{
  text-align: justify;
}
.text-right{
  text-align: right;
}
.text-left{
  text-align: left;
}

/***************  blockquote *******************************/
blockquote{
  border: none;
  margin: 0;
}
/***************************** horary *****************************************************/
dl.horary{
  width: 100%;
  border:2px solid @COLOR_THEME;
  border-radius: .5rem;
  font-size: 0;
  & dt:first-child{
    width: 100%;
    background-color: @COLOR_THEME;
    color: white;
    text-align: center;
    border-radius: .3rem .3rem 0 0;
  }
  & dt,& dd{
    display: inline-block;
    vertical-align: middle;
    font-size: @BASE-REM;
    width: 50%;
    color: @COLOR_THEME;
    text-align: center;
  }
}
/******************* positio *********************/
.relative{
  position: relative;
}
.relative-top{
  top: @BASE-REM;
}
.relative-top-3{
  top: @BASE-REM*3;
}

/******* navigation *****/




/************************************************* buttons ******************************************************/
.button,button{
  padding: .5rem @BASE-REM;
  background-color: @COLOR_THEME;
  border-radius: .5rem;
  border: none;
  color: @COLOR_WHITE;
}
button{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: @BASE-REM;
}


.float-left{
  float: left;
}
.float-right{
  float: right;
}

/********************************************** Forms *******************************************/
input[type="text"],input[type="email"],input[type="tel"],textarea{
  padding: .5rem 5px.5rem 45px ;
  border-radius: .5rem;
  border:2px solid @COLOR_THEME;
  background-color: transparent; 
  background-image: url(../images/icons/form.png);
  background-repeat: no-repeat;
  width: 100%;
  margin-bottom: @BASE-REM;
}
::-webkit-input-placeholder{
  color:@COLOR_THEME;
  font-weight: bold;
}
:-moz-placeholder{
  color:@COLOR_THEME;
  font-weight: bold;
}
::-moz-placeholder{
  color:@COLOR_THEME;
  font-weight: bold;
}
:-ms-input-placeholder {
  font-weight: bold;
  color: @COLOR_THEME;
}
[data-icon="user"]{
  background-position: 0 0;
}
[data-icon="email"]{
  background-position: 0 -50px;
}
[data-icon="phone"]{
  background-position: 0 -100px;
}
[data-icon="message"]{
  background-position: 0 -150px;
}



/******************* fix **************/
.fix-fb{
  min-height: 350px;
  border-radius: .2rem;
}
aside p{
  font-size: .8rem;
}


.icon-contact{
  background-color: @COLOR_THEME;
  border-radius: 50%;
  color: @COLOR_WHITE;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  text-align: center;
  padding: .5rem;
  margin-right: .5rem;
}

/*************************************** SECTIONS ******************************************************/

/****** mixin ******/
.section( @COLOR_SECTION : @COLOR_THEME){
  
  border-top: (@BASE-REM / 5 ) solid @COLOR_SECTION ;
  & a,& strong,& h1,& h2, & h3,& h4, & h5, & h6, & span{
    color: @COLOR_SECTION ;
  }
  & .service-pic{
    border: (@BASE-REM / 3 ) solid @COLOR_SECTION;
  }
  .button{
    background-color: @COLOR_SECTION;
    color: @COLOR_WHITE;
  }

  dl{
    width: 20%;
    border-bottom:2px solid @COLOR_SECTION;
    border-top:2px solid @COLOR_SECTION;
    display: inline-block;
    vertical-align: top;
    & dt,& dd{
      display: block;
      vertical-align: middle;
      font-size: @BASE-REM;
      color: @COLOR_SECTION;
      text-align: center;
    }
    & dd{
      min-height: 3rem;
      vertical-align: middle;
    }
    & dt{
      background-color: @COLOR_SECTION;
      color: @COLOR_WHITE;
      color: white;
    }
  }

}

.font-0{
  font-size: 0;
}

.border-pw{
  .section(@COLOR_THEME);
}
.border-co{
  .section(@COLOR_ORANGE);
}
.border-em{
  .section(@COLOR_YELLOW);
}
.border-ct{
  .section(@COLOR_PURPLE);
}
.border-am{
  .section(@COLOR_GREEN);
}
.border-si{
  .section(@COLOR_DARK_LIGHT);
}


/************************* NAVIGATION ************************************************************************/
/* General styles for all menus */
.menu {
  background: @COLOR_DARK;
  position: fixed;
}


/* Orientation-dependent styles for the content of the menu */

.menu-vertical {
  width: 240px;
  height: 100%;
  top: 0;
  z-index: 3;
}


/* Vertical menu that slides from the left or right */

.menu-left {
  left: -240px;
}

.menu-left.menu-open {
  left: 0px;
}


/* Push classes applied to the body */

.menu-push {
  overflow-x: hidden;
  position: relative;
  left: 0;
}

.menu-push-toright {
  left: 240px;
}


/* Transitions */

.menu,
.menu-push {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* Example media queries */

@media all and (min-width : 768px ){
  #showMenu{
    display: none;
  }
  header,.menu{
    height: 3.6rem;
    position: fixed;

  }
  .menu {
    font-size: 0;
    text-align: right;
    padding: @BASE-REM 5rem @BASE-REM 0;
    text-transform: uppercase;
    background-color: transparent;
    z-index: 4;
    & a {
      display: inline-block;
      vertical-align: middle;
      margin-right: @BASE-REM;
      font-size: @BASE-REM;
      color: @COLOR_WHITE;
      & span {
        display: none;
      }
    }
  }
  .menu-left{
    left: auto;
  }
  .menu-vertical {
    width: 100%;
  }
  /******* header  **********/
  header{
    background-color: @COLOR_DARK;
    color: @COLOR_WHITE;
    font-size: @BASE-REM;
    padding-left: 5rem;
    width: 100%;
    z-index: 3;
    & * {
      display: inline-block;
      vertical-align: middle;
    }
  }
}